ITEST/itest.SpreadsheetResult/test-resources/spreadsheetresult_wadl.resp.xml

<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:prefix2="http://calc.rules.openl.org" xmlns:prefix1="http://jaxrs.openl.org">
    <grammars>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://csr.generated.openl.org"
                   attributeFormDefault="unqualified" elementFormDefault="unqualified"
                   targetNamespace="http://csr.generated.openl.org" version="1.0">
            <xs:element name="Tiktak" type="tns:Tiktak"/>
            <xs:complexType name="Tiktak">
                <xs:sequence>
                    <xs:element name="INT" type="xs:int"/>
                    <xs:element minOccurs="0" name="String" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://jaxb.dev.java.net/array"
                   xmlns:tns="http://calc.rules.openl.org" attributeFormDefault="unqualified"
                   elementFormDefault="qualified" targetNamespace="http://calc.rules.openl.org" version="1.0">
            <xs:import namespace="http://jaxb.dev.java.net/array"/>
            <xs:element name="spreadsheetResult" type="tns:spreadsheetResult"/>
            <xs:complexType name="spreadsheetResult">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="columnNames" nillable="true"
                                type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="results" nillable="true"
                                type="ns1:anyTypeArray"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="rowNames" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://jaxrs.openl.org"
                   attributeFormDefault="unqualified" elementFormDefault="unqualified"
                   targetNamespace="http://jaxrs.openl.org" version="1.0">
            <xs:element name="TiktakRequest" type="tns:TiktakRequest"/>
            <xs:complexType name="TiktakRequest">
                <xs:sequence>
                    <xs:element name="i" type="xs:int"/>
                    <xs:element minOccurs="0" name="j" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://jaxb.dev.java.net/array"
                   attributeFormDefault="unqualified" elementFormDefault="unqualified"
                   targetNamespace="http://jaxb.dev.java.net/array" version="1.0">
            <xs:complexType final="#all" name="anyTypeArray">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </grammars>
    <resources base="http://localhost:#####/REST/spreadsheetresult">
        <resource path="/">
            <resource path="tiktak">
                <method name="POST">
                    <request>
                        <representation mediaType="application/json" element="prefix1:TiktakRequest"/>
                    </request>
                    <response>
                        <representation mediaType="application/json" element="prefix2:spreadsheetResult"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="/swagger.{type:json|yaml}">
            <param name="type" style="template" type="xs:string"/>
            <method name="GET">
                <request></request>
                <response>
                    <representation mediaType="application/json"/>
                    <representation mediaType="application/yaml"/>
                </response>
            </method>
        </resource>
    </resources>
</application>