ITEST/itest.SpreadsheetResult/test-resources/spreadsheetresult_wsdl.resp.xml

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://itest.openl.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="MainService" targetNamespace="http://itest.openl.org/">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://cxf.apache.org/arrays" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://cxf.apache.org/arrays">
            <xsd:complexType name="ArrayOfArrayOfAnyType">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="ArrayOfAnyType" type="tns:ArrayOfAnyType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfAnyType">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="anyType" type="xsd:anyType"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://table.rules.openl.org" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://table.rules.openl.org">
            <xsd:complexType name="Point">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="column" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="row" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://itest.openl.org/" xmlns:ns0="http://calc.rules.openl.org" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://itest.openl.org/">
            <xsd:import namespace="http://calc.rules.openl.org"/>
            <xsd:complexType name="ArrayOfString">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="string" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="tiktak" type="tns:tiktak"/>
            <xsd:complexType name="tiktak">
                <xsd:sequence>
                    <xsd:element name="arg0" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="arg1" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="tiktakResponse" type="tns:tiktakResponse"/>
            <xsd:complexType name="tiktakResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="return" type="ns0:SpreadsheetResult"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://calc.rules.openl.org" xmlns:ns1="http://cxf.apache.org/arrays" xmlns:ns0="http://itest.openl.org/" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://calc.rules.openl.org">
            <xsd:import namespace="http://itest.openl.org/"/>
            <xsd:import namespace="http://cxf.apache.org/arrays"/>
            <xsd:complexType name="SpreadsheetResult">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="columnNames" type="ns0:ArrayOfString"/>
                    <xsd:element minOccurs="0" name="results" type="ns1:ArrayOfArrayOfAnyType"/>
                    <xsd:element minOccurs="0" name="rowNames" type="ns0:ArrayOfString"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="tiktak">
        <wsdl:part element="tns:tiktak" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="tiktakResponse">
        <wsdl:part element="tns:tiktakResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="MainServicePortType">
        <wsdl:operation name="tiktak">
            <wsdl:input message="tns:tiktak" name="tiktak">
            </wsdl:input>
            <wsdl:output message="tns:tiktakResponse" name="tiktakResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MainServiceSoapBinding" type="tns:MainServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="tiktak">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="tiktak">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="tiktakResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MainService">
        <wsdl:port binding="tns:MainServiceSoapBinding" name="MainServicePortType">
            <soap:address location="http://localhost:#####/spreadsheetresult"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>