ITEST/itest.EPBDS-7187/test-resources/wadl.resp.xml

<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:prefix3="xxx.yyy" xmlns:prefix2="http://beans.generated.openl.org"
             xmlns:prefix1="http://jaxrs.openl.org">
    <grammars>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://beans.generated.openl.org"
                   attributeFormDefault="unqualified" elementFormDefault="unqualified"
                   targetNamespace="http://beans.generated.openl.org" version="1.0">
            <xs:element name="Mixes" type="tns:Mixes"/>
            <xs:complexType name="Mixes">
                <xs:sequence>
                    <xs:element minOccurs="0" name="a" type="xs:string"/>
                    <xs:element default="10" minOccurs="0" name="B" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="aB" type="xs:double"/>
                    <xs:element default="2020-01-14" minOccurs="0" name="Ba" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="BB" type="xs:boolean"/>
                    <xs:element default="154.2544" minOccurs="0" name="aa" nillable="true" type="xs:decimal"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="xxx.yyy" attributeFormDefault="unqualified"
                   elementFormDefault="unqualified" targetNamespace="xxx.yyy" version="1.0">
            <xs:element name="bean" type="tns:Bean"/>
            <xs:element name="beanB" type="tns:BeanB"/>
            <xs:complexType name="Bean">
                <xs:sequence>
                    <xs:element minOccurs="0" name="beanBName" type="tns:BeanB"/>
                    <xs:element default="17" name="I" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="BeanB">
                <xs:sequence>
                    <xs:element name="In" type="xs:int"/>
                    <xs:element minOccurs="0" name="STR" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://beans.generated.openl.org"
                   xmlns:tns="http://jaxrs.openl.org" attributeFormDefault="unqualified"
                   elementFormDefault="unqualified" targetNamespace="http://jaxrs.openl.org" version="1.0">
            <xs:import namespace="http://beans.generated.openl.org"/>
            <xs:element name="EDGECaseRequest" type="tns:EDGECaseRequest"/>
            <xs:element name="LowCaseRequest" type="tns:LowCaseRequest"/>
            <xs:element name="MixedCaseRequest" type="tns:MixedCaseRequest"/>
            <xs:element name="Mixes2Request" type="tns:Mixes2Request"/>
            <xs:element name="OverloadRequest3" type="tns:OverloadRequest3"/>
            <xs:element name="OverloadRequest4" type="tns:OverloadRequest4"/>
            <xs:element name="UPCaseRequest" type="tns:UPCaseRequest"/>
            <xs:complexType name="EDGECaseRequest">
                <xs:sequence>
                    <xs:element minOccurs="0" name="sTring" type="xs:string"/>
                    <xs:element name="NUMBer" type="xs:double"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="OverloadRequest4">
                <xs:sequence>
                    <xs:element minOccurs="0" name="I" type="xs:int"/>
                    <xs:element minOccurs="0" name="J" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="OverloadRequest3">
                <xs:sequence>
                    <xs:element name="i" type="xs:int"/>
                    <xs:element minOccurs="0" name="J" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="UPCaseRequest">
                <xs:sequence>
                    <xs:element minOccurs="0" name="STRING" type="xs:string"/>
                    <xs:element name="NUMBER" type="xs:double"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="MixedCaseRequest">
                <xs:sequence>
                    <xs:element minOccurs="0" name="numBer" type="xs:double"/>
                    <xs:element minOccurs="0" name="String" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="LowCaseRequest">
                <xs:sequence>
                    <xs:element minOccurs="0" name="number" type="xs:double"/>
                    <xs:element minOccurs="0" name="string" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Mixes2Request">
                <xs:sequence>
                    <xs:element minOccurs="0" name="m1" type="ns1:Mixes"/>
                    <xs:element minOccurs="0" name="m2" type="ns1:Mixes"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </grammars>
    <resources base="http://localhost:#####/upcs">
        <resource path="/">
            <resource path="MixedCase">
                <method name="POST">
                    <request>
                        <representation mediaType="application/json" element="prefix1:MixedCaseRequest"/>
                    </request>
                    <response>
                        <representation mediaType="text/plain"/>
                    </response>
                </method>
            </resource>
            <resource path="UPCase">
                <method name="POST">
                    <request>
                        <representation mediaType="application/json" element="prefix1:UPCaseRequest"/>
                    </request>
                    <response>
                        <representation mediaType="text/plain"/>
                    </response>
                </method>
            </resource>
            <resource path="eDGECase">
                <method name="POST">
                    <request>
                        <representation mediaType="application/json" element="prefix1:EDGECaseRequest"/>
                    </request>
                    <response>
                        <representation mediaType="text/plain"/>
                    </response>
                </method>
            </resource>
            <resource path="lowCase">
                <method name="POST">
                    <request>
                        <representation mediaType="application/json" element="prefix1:LowCaseRequest"/>
                    </request>
                    <response>
                        <representation mediaType="text/plain"/>
                    </response>
                </method>
            </resource>
            <resource path="mixes">
                <method name="POST">
                    <request>
                        <representation mediaType="application/json" element="prefix2:Mixes"/>
                    </request>
                    <response>
                        <representation mediaType="application/json" element="prefix2:Mixes"/>
                    </response>
                </method>
            </resource>
            <resource path="mixes2">
                <method name="POST">
                    <request>
                        <representation mediaType="application/json" element="prefix1:Mixes2Request"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="overload">
                <method name="GET">
                    <response>
                        <representation mediaType="text/plain"/>
                    </response>
                </method>
            </resource>
            <resource path="overload1">
                <method name="POST">
                    <request>
                        <representation mediaType="application/json" element="prefix3:bean"/>
                    </request>
                    <response>
                        <representation mediaType="text/plain"/>
                    </response>
                </method>
            </resource>
            <resource path="overload2/{I: .*}">
                <param name="I" style="template" type="xs:int"/>
                <method name="GET">
                    <request></request>
                    <response>
                        <representation mediaType="text/plain"/>
                    </response>
                </method>
            </resource>
            <resource path="overload3">
                <method name="POST">
                    <request>
                        <representation mediaType="application/json" element="prefix1:OverloadRequest3"/>
                    </request>
                    <response>
                        <representation mediaType="text/plain"/>
                    </response>
                </method>
            </resource>
            <resource path="overload4">
                <method name="POST">
                    <request>
                        <representation mediaType="application/json" element="prefix1:OverloadRequest4"/>
                    </request>
                    <response>
                        <representation mediaType="text/plain"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="/swagger.{type:json|yaml}">
            <param name="type" style="template" type="xs:string"/>
            <method name="GET">
                <request></request>
                <response>
                    <representation mediaType="application/json"/>
                    <representation mediaType="application/yaml"/>
                </response>
            </method>
        </resource>
    </resources>
</application>
