ITEST/itest.WebService/test-resources/simple2_wsdl.resp.xml

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://DefaultNamespace" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="simple2" targetNamespace="http://DefaultNamespace">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://runtime.openl.org" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://runtime.openl.org">
            <xsd:complexType name="IRuntimeContext">
                <xsd:sequence/>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://spreadsheetresults.generated.openl.org" xmlns:ns0="http://DefaultNamespace" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://spreadsheetresults.generated.openl.org">
            <xsd:import namespace="http://DefaultNamespace"/>
            <xsd:complexType name="SprOneColumn">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="moreValues" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="values" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="values1" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SprIfNode">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="step1" type="tns:AnySpreadsheetResult"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="HiddenCalc">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="step1" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfSprOneOne">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="SprOneOne" type="tns:SprOneOne"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SprWithEmptyColumn">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="_" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="values" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="AnySpreadsheetResult">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="columnNames" type="ns0:ArrayOfString"/>
                    <xsd:element minOccurs="0" name="fieldNames" type="ns0:ArrayOfArrayOfString"/>
                    <xsd:element minOccurs="0" name="formula2Step3" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="formula2Step4" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="formulaStep1" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="formulaStep2" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="moreValuesStep1" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="moreValuesStep2" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="rowNames" type="ns0:ArrayOfString"/>
                    <xsd:element minOccurs="0" name="step1" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="step1MoreValues" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="step1Values" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="step2MoreValues" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="step2Values" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="step2Values1" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="values" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="values1Step2" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="values2Step3" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="values2Step4" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="valuesStep1" type="xsd:anyType"/>
                    <xsd:element minOccurs="0" name="valuesStep2" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SprTwoTwo2">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="columnNames" type="ns0:ArrayOfString"/>
                    <xsd:element minOccurs="0" name="fieldNames" type="ns0:ArrayOfArrayOfString"/>
                    <xsd:element minOccurs="0" name="formulaStep1" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="formulaStep2" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="rowNames" type="ns0:ArrayOfString"/>
                    <xsd:element minOccurs="0" name="valuesStep1" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="valuesStep2" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SprOneRow">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="moreValues" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="values" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="values1" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SprWithEmptyRow">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="_" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SprTwoTwo">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="formula2Step3" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="formula2Step4" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="formulaStep1" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="formulaStep2" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="values2Step3" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="values2Step4" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="valuesStep1" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="valuesStep2" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SprTwoTwo1">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="step1" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SprOneOneNoAsterisk">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="step1" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Calc">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="step1" type="tns:SprOneRow"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfAnySpreadsheetResult">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="AnySpreadsheetResult" type="tns:AnySpreadsheetResult"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SprOneOne">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="step1" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://cxf.apache.org/arrays" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://cxf.apache.org/arrays">
            <xsd:complexType name="ArrayOfAnyType">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="anyType" type="xsd:anyType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfArrayOfAnyType">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="ArrayOfAnyType" type="tns:ArrayOfAnyType"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://DefaultNamespace" xmlns:ns1="http://spreadsheetresults.generated.openl.org" xmlns:ns0="http://context.rules.openl.org" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://DefaultNamespace">
            <xsd:import namespace="http://context.rules.openl.org"/>
            <xsd:import namespace="http://spreadsheetresults.generated.openl.org"/>
            <xsd:complexType name="ArrayOfInt">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="int" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfString">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="string" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfArrayOfString">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="ArrayOfString" type="tns:ArrayOfString"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="dtRetSpr" type="tns:dtRetSpr"/>
            <xsd:complexType name="dtRetSpr">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="runtimeContext" type="ns0:IRulesRuntimeContext"/>
                    <xsd:element minOccurs="0" name="v" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="dtRetSprResponse" type="tns:dtRetSprResponse"/>
            <xsd:complexType name="dtRetSprResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="return" type="ns1:AnySpreadsheetResult"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="calc" type="tns:calc"/>
            <xsd:complexType name="calc">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="runtimeContext" type="ns0:IRulesRuntimeContext"/>
                    <xsd:element minOccurs="0" name="a" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="calcResponse" type="tns:calcResponse"/>
            <xsd:complexType name="calcResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="return" type="ns1:Calc"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="dtRetSpr2" type="tns:dtRetSpr2"/>
            <xsd:complexType name="dtRetSpr2">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="runtimeContext" type="ns0:IRulesRuntimeContext"/>
                    <xsd:element name="v" nillable="true" type="tns:ArrayOfInt"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="dtRetSpr2Response" type="tns:dtRetSpr2Response"/>
            <xsd:complexType name="dtRetSpr2Response">
                <xsd:sequence>
                    <xsd:element name="return" nillable="true" type="ns1:ArrayOfAnySpreadsheetResult"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="sprIfNode" type="tns:sprIfNode"/>
            <xsd:complexType name="sprIfNode">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="runtimeContext" type="ns0:IRulesRuntimeContext"/>
                    <xsd:element minOccurs="0" name="myVar" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="sprIfNodeResponse" type="tns:sprIfNodeResponse"/>
            <xsd:complexType name="sprIfNodeResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="return" type="ns1:SprIfNode"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="dtRetSpr3" type="tns:dtRetSpr3"/>
            <xsd:complexType name="dtRetSpr3">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="runtimeContext" type="ns0:IRulesRuntimeContext"/>
                    <xsd:element name="v" nillable="true" type="tns:ArrayOfInt"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="dtRetSpr3Response" type="tns:dtRetSpr3Response"/>
            <xsd:complexType name="dtRetSpr3Response">
                <xsd:sequence>
                    <xsd:element name="return" nillable="true" type="ns1:ArrayOfSprOneOne"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://table.rules.openl.org" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://table.rules.openl.org">
            <xsd:complexType name="Point">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="column" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="row" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://enumeration.rules.openl.org" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://enumeration.rules.openl.org">
            <xsd:simpleType name="UsStatesEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="AL"/>
                    <xsd:enumeration value="AK"/>
                    <xsd:enumeration value="AZ"/>
                    <xsd:enumeration value="AR"/>
                    <xsd:enumeration value="CA"/>
                    <xsd:enumeration value="CO"/>
                    <xsd:enumeration value="CT"/>
                    <xsd:enumeration value="DC"/>
                    <xsd:enumeration value="DE"/>
                    <xsd:enumeration value="FL"/>
                    <xsd:enumeration value="GA"/>
                    <xsd:enumeration value="HI"/>
                    <xsd:enumeration value="ID"/>
                    <xsd:enumeration value="IL"/>
                    <xsd:enumeration value="IN"/>
                    <xsd:enumeration value="IA"/>
                    <xsd:enumeration value="KS"/>
                    <xsd:enumeration value="KY"/>
                    <xsd:enumeration value="LA"/>
                    <xsd:enumeration value="ME"/>
                    <xsd:enumeration value="MD"/>
                    <xsd:enumeration value="MA"/>
                    <xsd:enumeration value="MI"/>
                    <xsd:enumeration value="MN"/>
                    <xsd:enumeration value="MS"/>
                    <xsd:enumeration value="MO"/>
                    <xsd:enumeration value="MT"/>
                    <xsd:enumeration value="NE"/>
                    <xsd:enumeration value="NV"/>
                    <xsd:enumeration value="NH"/>
                    <xsd:enumeration value="NJ"/>
                    <xsd:enumeration value="NM"/>
                    <xsd:enumeration value="NY"/>
                    <xsd:enumeration value="NC"/>
                    <xsd:enumeration value="ND"/>
                    <xsd:enumeration value="OH"/>
                    <xsd:enumeration value="OK"/>
                    <xsd:enumeration value="OR"/>
                    <xsd:enumeration value="PA"/>
                    <xsd:enumeration value="PR"/>
                    <xsd:enumeration value="RI"/>
                    <xsd:enumeration value="SC"/>
                    <xsd:enumeration value="SD"/>
                    <xsd:enumeration value="TN"/>
                    <xsd:enumeration value="TX"/>
                    <xsd:enumeration value="UT"/>
                    <xsd:enumeration value="VT"/>
                    <xsd:enumeration value="VA"/>
                    <xsd:enumeration value="WA"/>
                    <xsd:enumeration value="WV"/>
                    <xsd:enumeration value="WI"/>
                    <xsd:enumeration value="WY"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CurrenciesEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="ALL"/>
                    <xsd:enumeration value="DZD"/>
                    <xsd:enumeration value="ARS"/>
                    <xsd:enumeration value="AUD"/>
                    <xsd:enumeration value="BHD"/>
                    <xsd:enumeration value="BYR"/>
                    <xsd:enumeration value="BOB"/>
                    <xsd:enumeration value="BAM"/>
                    <xsd:enumeration value="BRL"/>
                    <xsd:enumeration value="CAD"/>
                    <xsd:enumeration value="CLP"/>
                    <xsd:enumeration value="CNY"/>
                    <xsd:enumeration value="COP"/>
                    <xsd:enumeration value="CRC"/>
                    <xsd:enumeration value="HRK"/>
                    <xsd:enumeration value="CZK"/>
                    <xsd:enumeration value="DKK"/>
                    <xsd:enumeration value="DOP"/>
                    <xsd:enumeration value="EGP"/>
                    <xsd:enumeration value="EUR"/>
                    <xsd:enumeration value="GTQ"/>
                    <xsd:enumeration value="HNL"/>
                    <xsd:enumeration value="HKD"/>
                    <xsd:enumeration value="HUF"/>
                    <xsd:enumeration value="ISK"/>
                    <xsd:enumeration value="INR"/>
                    <xsd:enumeration value="IDR"/>
                    <xsd:enumeration value="IQD"/>
                    <xsd:enumeration value="ILS"/>
                    <xsd:enumeration value="JPY"/>
                    <xsd:enumeration value="JOD"/>
                    <xsd:enumeration value="KWD"/>
                    <xsd:enumeration value="LVL"/>
                    <xsd:enumeration value="LBP"/>
                    <xsd:enumeration value="LTL"/>
                    <xsd:enumeration value="MKD"/>
                    <xsd:enumeration value="MYR"/>
                    <xsd:enumeration value="MXN"/>
                    <xsd:enumeration value="MAD"/>
                    <xsd:enumeration value="NZD"/>
                    <xsd:enumeration value="NIO"/>
                    <xsd:enumeration value="NOK"/>
                    <xsd:enumeration value="OMR"/>
                    <xsd:enumeration value="PAB"/>
                    <xsd:enumeration value="PYG"/>
                    <xsd:enumeration value="PEN"/>
                    <xsd:enumeration value="PHP"/>
                    <xsd:enumeration value="PLN"/>
                    <xsd:enumeration value="QAR"/>
                    <xsd:enumeration value="RON"/>
                    <xsd:enumeration value="RUB"/>
                    <xsd:enumeration value="SAR"/>
                    <xsd:enumeration value="RSD"/>
                    <xsd:enumeration value="SGD"/>
                    <xsd:enumeration value="ZAR"/>
                    <xsd:enumeration value="SDG"/>
                    <xsd:enumeration value="SEK"/>
                    <xsd:enumeration value="CHF"/>
                    <xsd:enumeration value="SYP"/>
                    <xsd:enumeration value="TWD"/>
                    <xsd:enumeration value="TND"/>
                    <xsd:enumeration value="TRY"/>
                    <xsd:enumeration value="UAH"/>
                    <xsd:enumeration value="AED"/>
                    <xsd:enumeration value="GBP"/>
                    <xsd:enumeration value="USD"/>
                    <xsd:enumeration value="UYU"/>
                    <xsd:enumeration value="VEF"/>
                    <xsd:enumeration value="VND"/>
                    <xsd:enumeration value="YER"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CountriesEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="AL"/>
                    <xsd:enumeration value="DZ"/>
                    <xsd:enumeration value="AR"/>
                    <xsd:enumeration value="AU"/>
                    <xsd:enumeration value="AT"/>
                    <xsd:enumeration value="BH"/>
                    <xsd:enumeration value="BY"/>
                    <xsd:enumeration value="BE"/>
                    <xsd:enumeration value="BO"/>
                    <xsd:enumeration value="BA"/>
                    <xsd:enumeration value="BR"/>
                    <xsd:enumeration value="BG"/>
                    <xsd:enumeration value="CA"/>
                    <xsd:enumeration value="CL"/>
                    <xsd:enumeration value="CN"/>
                    <xsd:enumeration value="CO"/>
                    <xsd:enumeration value="CR"/>
                    <xsd:enumeration value="HR"/>
                    <xsd:enumeration value="CY"/>
                    <xsd:enumeration value="CZ"/>
                    <xsd:enumeration value="DK"/>
                    <xsd:enumeration value="DO"/>
                    <xsd:enumeration value="EC"/>
                    <xsd:enumeration value="EG"/>
                    <xsd:enumeration value="SV"/>
                    <xsd:enumeration value="EE"/>
                    <xsd:enumeration value="FI"/>
                    <xsd:enumeration value="FR"/>
                    <xsd:enumeration value="DE"/>
                    <xsd:enumeration value="GR"/>
                    <xsd:enumeration value="GT"/>
                    <xsd:enumeration value="HN"/>
                    <xsd:enumeration value="HK"/>
                    <xsd:enumeration value="HU"/>
                    <xsd:enumeration value="IS"/>
                    <xsd:enumeration value="IN"/>
                    <xsd:enumeration value="ID"/>
                    <xsd:enumeration value="IQ"/>
                    <xsd:enumeration value="IE"/>
                    <xsd:enumeration value="IL"/>
                    <xsd:enumeration value="IT"/>
                    <xsd:enumeration value="JP"/>
                    <xsd:enumeration value="JO"/>
                    <xsd:enumeration value="KW"/>
                    <xsd:enumeration value="LV"/>
                    <xsd:enumeration value="LB"/>
                    <xsd:enumeration value="LT"/>
                    <xsd:enumeration value="LU"/>
                    <xsd:enumeration value="MK"/>
                    <xsd:enumeration value="MY"/>
                    <xsd:enumeration value="MT"/>
                    <xsd:enumeration value="MX"/>
                    <xsd:enumeration value="MA"/>
                    <xsd:enumeration value="NL"/>
                    <xsd:enumeration value="NZ"/>
                    <xsd:enumeration value="NI"/>
                    <xsd:enumeration value="NO"/>
                    <xsd:enumeration value="OM"/>
                    <xsd:enumeration value="PA"/>
                    <xsd:enumeration value="PY"/>
                    <xsd:enumeration value="PE"/>
                    <xsd:enumeration value="PH"/>
                    <xsd:enumeration value="PL"/>
                    <xsd:enumeration value="PT"/>
                    <xsd:enumeration value="PR"/>
                    <xsd:enumeration value="QA"/>
                    <xsd:enumeration value="RO"/>
                    <xsd:enumeration value="RU"/>
                    <xsd:enumeration value="SA"/>
                    <xsd:enumeration value="CS"/>
                    <xsd:enumeration value="SG"/>
                    <xsd:enumeration value="SK"/>
                    <xsd:enumeration value="SI"/>
                    <xsd:enumeration value="ZA"/>
                    <xsd:enumeration value="ES"/>
                    <xsd:enumeration value="SD"/>
                    <xsd:enumeration value="SE"/>
                    <xsd:enumeration value="CH"/>
                    <xsd:enumeration value="SY"/>
                    <xsd:enumeration value="TW"/>
                    <xsd:enumeration value="TH"/>
                    <xsd:enumeration value="TN"/>
                    <xsd:enumeration value="TR"/>
                    <xsd:enumeration value="UA"/>
                    <xsd:enumeration value="AE"/>
                    <xsd:enumeration value="GB"/>
                    <xsd:enumeration value="US"/>
                    <xsd:enumeration value="UY"/>
                    <xsd:enumeration value="VE"/>
                    <xsd:enumeration value="VN"/>
                    <xsd:enumeration value="YE"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LanguagesEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="ALB"/>
                    <xsd:enumeration value="ARA"/>
                    <xsd:enumeration value="BEL"/>
                    <xsd:enumeration value="BUL"/>
                    <xsd:enumeration value="CAT"/>
                    <xsd:enumeration value="CHI"/>
                    <xsd:enumeration value="SCR"/>
                    <xsd:enumeration value="CZE"/>
                    <xsd:enumeration value="DAN"/>
                    <xsd:enumeration value="DUT"/>
                    <xsd:enumeration value="ENG"/>
                    <xsd:enumeration value="FIN"/>
                    <xsd:enumeration value="FRE"/>
                    <xsd:enumeration value="GER"/>
                    <xsd:enumeration value="GRE"/>
                    <xsd:enumeration value="HEB"/>
                    <xsd:enumeration value="HIN"/>
                    <xsd:enumeration value="HUN"/>
                    <xsd:enumeration value="IND"/>
                    <xsd:enumeration value="GLE"/>
                    <xsd:enumeration value="ITA"/>
                    <xsd:enumeration value="JPN"/>
                    <xsd:enumeration value="LAV"/>
                    <xsd:enumeration value="LIT"/>
                    <xsd:enumeration value="MAC"/>
                    <xsd:enumeration value="MAY"/>
                    <xsd:enumeration value="MLT"/>
                    <xsd:enumeration value="NOR"/>
                    <xsd:enumeration value="POL"/>
                    <xsd:enumeration value="POR"/>
                    <xsd:enumeration value="RUM"/>
                    <xsd:enumeration value="RUS"/>
                    <xsd:enumeration value="SCC"/>
                    <xsd:enumeration value="SLO"/>
                    <xsd:enumeration value="SPA"/>
                    <xsd:enumeration value="THA"/>
                    <xsd:enumeration value="TUR"/>
                    <xsd:enumeration value="UKR"/>
                    <xsd:enumeration value="VIE"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="UsRegionsEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="MW"/>
                    <xsd:enumeration value="NE"/>
                    <xsd:enumeration value="SE"/>
                    <xsd:enumeration value="SW"/>
                    <xsd:enumeration value="W"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="RegionsEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="NCSA"/>
                    <xsd:enumeration value="EU"/>
                    <xsd:enumeration value="EMEA"/>
                    <xsd:enumeration value="APJ"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CaProvincesEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="AB"/>
                    <xsd:enumeration value="BC"/>
                    <xsd:enumeration value="PE"/>
                    <xsd:enumeration value="MB"/>
                    <xsd:enumeration value="NB"/>
                    <xsd:enumeration value="NS"/>
                    <xsd:enumeration value="NU"/>
                    <xsd:enumeration value="ON"/>
                    <xsd:enumeration value="QC"/>
                    <xsd:enumeration value="SK"/>
                    <xsd:enumeration value="NL"/>
                    <xsd:enumeration value="YT"/>
                    <xsd:enumeration value="NT"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CaRegionsEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="QC"/>
                    <xsd:enumeration value="HQ"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://itest.openl.org" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://itest.openl.org">
            <xsd:complexType name="Error">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="message" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://calc.rules.openl.org" xmlns:ns1="http://cxf.apache.org/arrays" xmlns:ns0="http://DefaultNamespace" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://calc.rules.openl.org">
            <xsd:import namespace="http://DefaultNamespace"/>
            <xsd:import namespace="http://cxf.apache.org/arrays"/>
            <xsd:complexType name="SpreadsheetResult">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="columnNames" type="ns0:ArrayOfString"/>
                    <xsd:element minOccurs="0" name="results" type="ns1:ArrayOfArrayOfAnyType"/>
                    <xsd:element minOccurs="0" name="rowNames" type="ns0:ArrayOfString"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://context.rules.openl.org" xmlns:ns1="http://enumeration.rules.openl.org" xmlns:ns0="http://runtime.openl.org" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://context.rules.openl.org">
            <xsd:import namespace="http://enumeration.rules.openl.org"/>
            <xsd:import namespace="http://runtime.openl.org"/>
            <xsd:complexType name="IRulesRuntimeContext">
                <xsd:complexContent>
                    <xsd:extension base="ns0:IRuntimeContext">
                        <xsd:sequence>
                            <xsd:element minOccurs="0" name="caProvince" type="ns1:CaProvincesEnum"/>
                            <xsd:element minOccurs="0" name="caRegion" type="ns1:CaRegionsEnum"/>
                            <xsd:element minOccurs="0" name="country" type="ns1:CountriesEnum"/>
                            <xsd:element minOccurs="0" name="currency" type="ns1:CurrenciesEnum"/>
                            <xsd:element minOccurs="0" name="currentDate" type="xsd:dateTime"/>
                            <xsd:element minOccurs="0" name="lang" type="ns1:LanguagesEnum"/>
                            <xsd:element minOccurs="0" name="lob" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="nature" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="region" type="ns1:RegionsEnum"/>
                            <xsd:element minOccurs="0" name="requestDate" type="xsd:dateTime"/>
                            <xsd:element minOccurs="0" name="usRegion" type="ns1:UsRegionsEnum"/>
                            <xsd:element minOccurs="0" name="usState" type="ns1:UsStatesEnum"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="sprIfNodeResponse">
        <wsdl:part element="tns:sprIfNodeResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="dtRetSprResponse">
        <wsdl:part element="tns:dtRetSprResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="dtRetSpr">
        <wsdl:part element="tns:dtRetSpr" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="dtRetSpr2Response">
        <wsdl:part element="tns:dtRetSpr2Response" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="calc">
        <wsdl:part element="tns:calc" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="calcResponse">
        <wsdl:part element="tns:calcResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="dtRetSpr2">
        <wsdl:part element="tns:dtRetSpr2" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="sprIfNode">
        <wsdl:part element="tns:sprIfNode" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="dtRetSpr3">
        <wsdl:part element="tns:dtRetSpr3" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="dtRetSpr3Response">
        <wsdl:part element="tns:dtRetSpr3Response" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="simple2PortType">
        <wsdl:operation name="dtRetSpr">
            <wsdl:input message="tns:dtRetSpr" name="dtRetSpr">
            </wsdl:input>
            <wsdl:output message="tns:dtRetSprResponse" name="dtRetSprResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="calc">
            <wsdl:input message="tns:calc" name="calc">
            </wsdl:input>
            <wsdl:output message="tns:calcResponse" name="calcResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="dtRetSpr2">
            <wsdl:input message="tns:dtRetSpr2" name="dtRetSpr2">
            </wsdl:input>
            <wsdl:output message="tns:dtRetSpr2Response" name="dtRetSpr2Response">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sprIfNode">
            <wsdl:input message="tns:sprIfNode" name="sprIfNode">
            </wsdl:input>
            <wsdl:output message="tns:sprIfNodeResponse" name="sprIfNodeResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="dtRetSpr3">
            <wsdl:input message="tns:dtRetSpr3" name="dtRetSpr3">
            </wsdl:input>
            <wsdl:output message="tns:dtRetSpr3Response" name="dtRetSpr3Response">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="simple2SoapBinding" type="tns:simple2PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="dtRetSpr">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="dtRetSpr">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="dtRetSprResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="calc">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="calc">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="calcResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="dtRetSpr2">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="dtRetSpr2">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="dtRetSpr2Response">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sprIfNode">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="sprIfNode">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="sprIfNodeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="dtRetSpr3">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="dtRetSpr3">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="dtRetSpr3Response">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="simple2">
        <wsdl:port binding="tns:simple2SoapBinding" name="simple2PortType">
            <soap:address location="http://localhost:#####/deployment2/simple2"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>