ITEST/itest.WebService/test-resources/simple5_wadl.resp.xml

<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:prefix2="http://csr.generated.openl.org" xmlns:prefix1="http://jaxrs.openl.org"><grammars><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://jaxrs.openl.org" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://jaxrs.openl.org">
    <xs:complexType name="error">
        <xs:sequence>
            <xs:element minOccurs="0" name="message" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://jaxb.dev.java.net/array" xmlns:tns="http://csr.generated.openl.org" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://csr.generated.openl.org">
    <xs:import namespace="http://jaxb.dev.java.net/array"/>
    <xs:element name="Calc" type="tns:Calc"/>
    <xs:complexType name="Calc">
        <xs:sequence>
            <xs:element minOccurs="0" name="Step1" type="xs:double"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="rowNames" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="columnNames" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="fieldNames" type="ns1:stringArray"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://beans.generated.openl.org" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://beans.generated.openl.org">
    <xs:element name="MyDatatype" type="tns:MyDatatype"/>
    <xs:complexType name="MyDatatype">
        <xs:sequence>
            <xs:element minOccurs="0" name="comparableField" type="xs:anyType"/>
            <xs:element name="mapField">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element minOccurs="0" name="key" type="xs:anyType"/>
                                    <xs:element minOccurs="0" name="value" type="xs:anyType"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="setField" type="xs:anyType"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="collectionField" type="xs:anyType"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="listField" type="xs:anyType"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="sortedSetField" type="xs:anyType"/>
            <xs:element name="sortedMapField">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element minOccurs="0" name="key" type="xs:anyType"/>
                                    <xs:element minOccurs="0" name="value" type="xs:anyType"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://beans.generated.openl.org" xmlns:tns="http://jaxrs.openl.org" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://jaxrs.openl.org">
    <xs:import namespace="http://beans.generated.openl.org"/>
    <xs:element name="CalcRequest" type="tns:CalcRequest"/>
    <xs:complexType name="CalcRequest">
        <xs:sequence>
            <xs:element minOccurs="0" name="runtimeContext" type="xs:anyType"/>
            <xs:element minOccurs="0" name="myDatatype" type="ns1:MyDatatype"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://jaxb.dev.java.net/array" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://jaxb.dev.java.net/array">
    <xs:complexType final="#all" name="stringArray">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
</grammars><resources base="http://localhost:#####/REST/deployment5/simple5"><resource path="/"><resource path="calc"><method name="POST"><request><representation mediaType="application/json" element="prefix1:CalcRequest"/></request><response><representation mediaType="application/json" element="prefix2:Calc"/></response></method></resource></resource><resource path="/swagger.{type:json|yaml}"><param name="type" style="template" type="xs:string"/><method name="GET"><request></request><response><representation mediaType="application/json"/><representation mediaType="application/yaml"/></response></method></resource></resources></application>