ITEST/itest.WebService/test-resources/simple3_wsdl.resp.xml

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://DefaultNamespace" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="simple3"
                  targetNamespace="http://DefaultNamespace">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://runtime.openl.org"
                    attributeFormDefault="qualified" elementFormDefault="qualified"
                    targetNamespace="http://runtime.openl.org">
            <xsd:complexType name="IRuntimeContext">
                <xsd:sequence/>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://cxf.apache.org/arrays"
                    attributeFormDefault="qualified" elementFormDefault="qualified"
                    targetNamespace="http://cxf.apache.org/arrays">
            <xsd:complexType name="ArrayOfAnyType">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="anyType" nillable="true" type="xsd:anyType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfArrayOfAnyType">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="ArrayOfAnyType" type="tns:ArrayOfAnyType"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://DefaultNamespace"
                    xmlns:ns2="http://cxf.apache.org/arrays" xmlns:ns1="http://spreadsheetresults.generated.openl.org"
                    xmlns:ns0="http://context.rules.openl.org" attributeFormDefault="qualified"
                    elementFormDefault="qualified" targetNamespace="http://DefaultNamespace">
            <xsd:import namespace="http://context.rules.openl.org"/>
            <xsd:import namespace="http://spreadsheetresults.generated.openl.org"/>
            <xsd:import namespace="http://cxf.apache.org/arrays"/>
            <xsd:complexType name="anyType2anyTypeMap">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="entry">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="key" type="xsd:anyType"/>
                                <xsd:element minOccurs="0" name="value" type="xsd:anyType"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfString">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="string" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfDouble">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="double" type="xsd:double"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfArrayOfString">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="ArrayOfString" type="tns:ArrayOfString"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="arrSpreadsheetResultspr1" type="tns:arrSpreadsheetResultspr1"/>
            <xsd:complexType name="arrSpreadsheetResultspr1">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="runtimeContext" type="ns0:IRulesRuntimeContext"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="arrSpreadsheetResultspr1Response" type="tns:arrSpreadsheetResultspr1Response"/>
            <xsd:complexType name="arrSpreadsheetResultspr1Response">
                <xsd:sequence>
                    <xsd:element name="return" nillable="true" type="ns1:ArrayOfSpr1"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="arrSpreadsheetResult" type="tns:arrSpreadsheetResult"/>
            <xsd:complexType name="arrSpreadsheetResult">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="runtimeContext" type="ns0:IRulesRuntimeContext"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="arrSpreadsheetResultResponse" type="tns:arrSpreadsheetResultResponse"/>
            <xsd:complexType name="arrSpreadsheetResultResponse">
                <xsd:sequence>
                    <xsd:element name="return" nillable="true" type="ns1:ArrayOfAnySpreadsheetResult"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="arrObjSpreadsheetResult" type="tns:arrObjSpreadsheetResult"/>
            <xsd:complexType name="arrObjSpreadsheetResult">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="runtimeContext" type="ns0:IRulesRuntimeContext"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="arrObjSpreadsheetResultResponse" type="tns:arrObjSpreadsheetResultResponse"/>
            <xsd:complexType name="arrObjSpreadsheetResultResponse">
                <xsd:sequence>
                    <xsd:element name="return" nillable="true" type="ns2:ArrayOfAnyType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="main" type="tns:main"/>
            <xsd:complexType name="main">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="runtimeContext" type="ns0:IRulesRuntimeContext"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="mainResponse" type="tns:mainResponse"/>
            <xsd:complexType name="mainResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="return" type="ns1:Main"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="mySpr" type="tns:mySpr"/>
            <xsd:complexType name="mySpr">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="runtimeContext" type="ns0:IRulesRuntimeContext"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="mySprResponse" type="tns:mySprResponse"/>
            <xsd:complexType name="mySprResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="return" type="ns1:MySpr"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="mySpr2" type="tns:mySpr2"/>
            <xsd:complexType name="mySpr2">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="runtimeContext" type="ns0:IRulesRuntimeContext"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="mySpr2Response" type="tns:mySpr2Response"/>
            <xsd:complexType name="mySpr2Response">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="return" type="ns1:MySpr2"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns:tns="http://spreadsheetresults.generated.openl.org" xmlns:ns1="http://cxf.apache.org/arrays"
                    xmlns:ns0="http://DefaultNamespace" attributeFormDefault="qualified" elementFormDefault="qualified"
                    targetNamespace="http://spreadsheetresults.generated.openl.org">
            <xsd:import namespace="http://cxf.apache.org/arrays"/>
            <xsd:import namespace="http://DefaultNamespace"/>
            <xsd:complexType name="ArrayOfArrayOfSpr1">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="ArrayOfSpr1" type="tns:ArrayOfSpr1"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Spr1">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="Step1" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="Step2" type="tns:Spr"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Spr">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="Step1" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="Step10" type="tns:ArrayOfArrayOfAnySpreadsheetResult"/>
                    <xsd:element minOccurs="0" name="Step11" type="tns:ArrayOfAnySpreadsheetResult"/>
                    <xsd:element minOccurs="0" name="Step13" type="xsd:anyType"/>
                    <xsd:element minOccurs="0" name="Step14" type="xsd:anyType"/>
                    <xsd:element minOccurs="0" name="Step15" type="xsd:anyType"/>
                    <xsd:element minOccurs="0" name="Step16" type="ns0:anyType2anyTypeMap"/>
                    <xsd:element minOccurs="0" name="Step17" type="ns1:ArrayOfAnyType"/>
                    <xsd:element minOccurs="0" name="Step18" type="ns1:ArrayOfAnyType"/>
                    <xsd:element minOccurs="0" name="Step19" type="ns1:ArrayOfAnyType"/>
                    <xsd:element minOccurs="0" name="Step2" type="tns:Spr1"/>
                    <xsd:element minOccurs="0" name="Step20" type="tns:Spr1"/>
                    <xsd:element minOccurs="0" name="Step21" type="tns:ArrayOfSpr1"/>
                    <xsd:element minOccurs="0" name="Step22" type="ns1:ArrayOfAnyType"/>
                    <xsd:element minOccurs="0" name="Step23" type="ns1:ArrayOfAnyType"/>
                    <xsd:element minOccurs="0" name="Step3" type="ns0:ArrayOfDouble"/>
                    <xsd:element minOccurs="0" name="Step4" type="tns:ArrayOfSpr1"/>
                    <xsd:element minOccurs="0" name="Step5" type="tns:ArrayOfSpr1"/>
                    <xsd:element minOccurs="0" name="Step6" type="tns:ArrayOfArrayOfSpr1"/>
                    <xsd:element minOccurs="0" name="Step7" type="ns1:ArrayOfArrayOfAnyType"/>
                    <xsd:element minOccurs="0" name="Step8" type="ns1:ArrayOfAnyType"/>
                    <xsd:element minOccurs="0" name="Step9" type="ns1:ArrayOfAnyType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfSpr1">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Spr1" type="tns:Spr1"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Main">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="AAA" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="ColumnNames" type="ns0:ArrayOfString"/>
                    <xsd:element minOccurs="0" name="RowNames" type="ns0:ArrayOfString"/>
                    <xsd:element minOccurs="0" name="Step1" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="Step10" type="tns:ArrayOfArrayOfAnySpreadsheetResult"/>
                    <xsd:element minOccurs="0" name="Step11" type="tns:ArrayOfAnySpreadsheetResult"/>
                    <xsd:element minOccurs="0" name="Step13" type="xsd:anyType"/>
                    <xsd:element minOccurs="0" name="Step14" type="xsd:anyType"/>
                    <xsd:element minOccurs="0" name="Step15" type="xsd:anyType"/>
                    <xsd:element minOccurs="0" name="Step16" type="ns0:anyType2anyTypeMap"/>
                    <xsd:element minOccurs="0" name="Step17" type="ns1:ArrayOfAnyType"/>
                    <xsd:element minOccurs="0" name="Step18" type="ns1:ArrayOfAnyType"/>
                    <xsd:element minOccurs="0" name="Step19" type="ns1:ArrayOfAnyType"/>
                    <xsd:element minOccurs="0" name="Step2" type="tns:Spr"/>
                    <xsd:element minOccurs="0" name="Step20" type="tns:AnySpreadsheetResult"/>
                    <xsd:element minOccurs="0" name="Step21" type="tns:ArrayOfSpr"/>
                    <xsd:element minOccurs="0" name="Step22" type="ns1:ArrayOfAnyType"/>
                    <xsd:element minOccurs="0" name="Step23" type="ns1:ArrayOfAnyType"/>
                    <xsd:element minOccurs="0" name="Step3" type="ns0:ArrayOfDouble"/>
                    <xsd:element minOccurs="0" name="Step4" type="tns:ArrayOfSpr"/>
                    <xsd:element minOccurs="0" name="Step5" type="tns:ArrayOfSpr"/>
                    <xsd:element minOccurs="0" name="Step6" type="tns:ArrayOfArrayOfSpr"/>
                    <xsd:element minOccurs="0" name="Step7" type="ns1:ArrayOfArrayOfAnyType"/>
                    <xsd:element minOccurs="0" name="Step8" type="ns1:ArrayOfAnyType"/>
                    <xsd:element minOccurs="0" name="Step9" type="ns1:ArrayOfAnyType"/>
                    <xsd:element minOccurs="0" name="TableDetails" type="ns0:ArrayOfArrayOfString"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="RunMain">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="Step0" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="Step1" type="tns:Main"/>
                    <xsd:element minOccurs="0" name="Step10" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="Step11" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="Step12" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="Step13" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="Step14" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="Step15" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="Step16" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="Step17" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="Step18" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="Step19" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="Step2" type="ns0:anyType2anyTypeMap"/>
                    <xsd:element minOccurs="0" name="Step4" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="Step5" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="Step6" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="Step7" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="Step8" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="Step9" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfArrayOfAnySpreadsheetResult">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="ArrayOfAnySpreadsheetResult"
                                 type="tns:ArrayOfAnySpreadsheetResult"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfArrayOfSpr">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="ArrayOfSpr" type="tns:ArrayOfSpr"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="MySpr">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="Step1" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="Step2" type="xsd:double"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="AnySpreadsheetResult">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="ColumnNames" type="ns0:ArrayOfString"/>
                    <xsd:element minOccurs="0" name="RowNames" type="ns0:ArrayOfString"/>
                    <xsd:element minOccurs="0" name="TableDetails" type="ns0:ArrayOfArrayOfString"/>
                    <xsd:element minOccurs="0" name="Value1_Step1" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="Value1_Step2" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="Value2_Step1" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="Value2_Step2" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="Value3_Step3" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="Value3_Step4" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="Value4_Step3" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="Value4_Step4" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="Value_AAA" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="Value_Step0" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="Value_Step1" type="xsd:anyType"/>
                    <xsd:element minOccurs="0" name="Value_Step10" type="xsd:anyType"/>
                    <xsd:element minOccurs="0" name="Value_Step11" type="xsd:anyType"/>
                    <xsd:element minOccurs="0" name="Value_Step12" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="Value_Step13" type="xsd:anyType"/>
                    <xsd:element minOccurs="0" name="Value_Step14" type="xsd:anyType"/>
                    <xsd:element minOccurs="0" name="Value_Step15" type="xsd:anyType"/>
                    <xsd:element minOccurs="0" name="Value_Step16" type="xsd:anyType"/>
                    <xsd:element minOccurs="0" name="Value_Step17" type="xsd:anyType"/>
                    <xsd:element minOccurs="0" name="Value_Step18" type="xsd:anyType"/>
                    <xsd:element minOccurs="0" name="Value_Step19" type="xsd:anyType"/>
                    <xsd:element minOccurs="0" name="Value_Step2" type="tns:AnySpreadsheetResult"/>
                    <xsd:element minOccurs="0" name="Value_Step20" type="tns:AnySpreadsheetResult"/>
                    <xsd:element minOccurs="0" name="Value_Step21" type="tns:ArrayOfAnySpreadsheetResult"/>
                    <xsd:element minOccurs="0" name="Value_Step22" type="ns1:ArrayOfAnyType"/>
                    <xsd:element minOccurs="0" name="Value_Step23" type="ns1:ArrayOfAnyType"/>
                    <xsd:element minOccurs="0" name="Value_Step3" type="ns0:ArrayOfDouble"/>
                    <xsd:element minOccurs="0" name="Value_Step4" type="xsd:anyType"/>
                    <xsd:element minOccurs="0" name="Value_Step5" type="xsd:anyType"/>
                    <xsd:element minOccurs="0" name="Value_Step6" type="xsd:anyType"/>
                    <xsd:element minOccurs="0" name="Value_Step7" type="xsd:anyType"/>
                    <xsd:element minOccurs="0" name="Value_Step8" type="ns1:ArrayOfAnyType"/>
                    <xsd:element minOccurs="0" name="Value_Step9" type="ns1:ArrayOfAnyType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrSpreadsheetResult">
                <xsd:sequence/>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfSpr">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Spr" type="tns:Spr"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfAnySpreadsheetResult">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="AnySpreadsheetResult"
                                 type="tns:AnySpreadsheetResult"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="MySpr2">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="Value1_Step1" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="Value1_Step2" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="Value2_Step1" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="Value2_Step2" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="Value3_Step3" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="Value3_Step4" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="Value4_Step3" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="Value4_Step4" type="xsd:double"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://enumeration.rules.openl.org"
                    attributeFormDefault="qualified" elementFormDefault="qualified"
                    targetNamespace="http://enumeration.rules.openl.org">
            <xsd:simpleType name="UsStatesEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="AL"/>
                    <xsd:enumeration value="AK"/>
                    <xsd:enumeration value="AZ"/>
                    <xsd:enumeration value="AR"/>
                    <xsd:enumeration value="CA"/>
                    <xsd:enumeration value="CO"/>
                    <xsd:enumeration value="CT"/>
                    <xsd:enumeration value="DC"/>
                    <xsd:enumeration value="DE"/>
                    <xsd:enumeration value="FL"/>
                    <xsd:enumeration value="GA"/>
                    <xsd:enumeration value="HI"/>
                    <xsd:enumeration value="ID"/>
                    <xsd:enumeration value="IL"/>
                    <xsd:enumeration value="IN"/>
                    <xsd:enumeration value="IA"/>
                    <xsd:enumeration value="KS"/>
                    <xsd:enumeration value="KY"/>
                    <xsd:enumeration value="LA"/>
                    <xsd:enumeration value="ME"/>
                    <xsd:enumeration value="MD"/>
                    <xsd:enumeration value="MA"/>
                    <xsd:enumeration value="MI"/>
                    <xsd:enumeration value="MN"/>
                    <xsd:enumeration value="MS"/>
                    <xsd:enumeration value="MO"/>
                    <xsd:enumeration value="MT"/>
                    <xsd:enumeration value="NE"/>
                    <xsd:enumeration value="NV"/>
                    <xsd:enumeration value="NH"/>
                    <xsd:enumeration value="NJ"/>
                    <xsd:enumeration value="NM"/>
                    <xsd:enumeration value="NY"/>
                    <xsd:enumeration value="NC"/>
                    <xsd:enumeration value="ND"/>
                    <xsd:enumeration value="OH"/>
                    <xsd:enumeration value="OK"/>
                    <xsd:enumeration value="OR"/>
                    <xsd:enumeration value="PA"/>
                    <xsd:enumeration value="PR"/>
                    <xsd:enumeration value="RI"/>
                    <xsd:enumeration value="SC"/>
                    <xsd:enumeration value="SD"/>
                    <xsd:enumeration value="TN"/>
                    <xsd:enumeration value="TX"/>
                    <xsd:enumeration value="UT"/>
                    <xsd:enumeration value="VT"/>
                    <xsd:enumeration value="VA"/>
                    <xsd:enumeration value="WA"/>
                    <xsd:enumeration value="WV"/>
                    <xsd:enumeration value="WI"/>
                    <xsd:enumeration value="WY"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="UsRegionsEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="MW"/>
                    <xsd:enumeration value="NE"/>
                    <xsd:enumeration value="SE"/>
                    <xsd:enumeration value="SW"/>
                    <xsd:enumeration value="W"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CaProvincesEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="AB"/>
                    <xsd:enumeration value="BC"/>
                    <xsd:enumeration value="PE"/>
                    <xsd:enumeration value="MB"/>
                    <xsd:enumeration value="NB"/>
                    <xsd:enumeration value="NS"/>
                    <xsd:enumeration value="NU"/>
                    <xsd:enumeration value="ON"/>
                    <xsd:enumeration value="QC"/>
                    <xsd:enumeration value="SK"/>
                    <xsd:enumeration value="NL"/>
                    <xsd:enumeration value="YT"/>
                    <xsd:enumeration value="NT"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="RegionsEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="NCSA"/>
                    <xsd:enumeration value="EU"/>
                    <xsd:enumeration value="EMEA"/>
                    <xsd:enumeration value="APJ"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CurrenciesEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="ALL"/>
                    <xsd:enumeration value="DZD"/>
                    <xsd:enumeration value="ARS"/>
                    <xsd:enumeration value="AUD"/>
                    <xsd:enumeration value="BHD"/>
                    <xsd:enumeration value="BYR"/>
                    <xsd:enumeration value="BOB"/>
                    <xsd:enumeration value="BAM"/>
                    <xsd:enumeration value="BRL"/>
                    <xsd:enumeration value="CAD"/>
                    <xsd:enumeration value="CLP"/>
                    <xsd:enumeration value="CNY"/>
                    <xsd:enumeration value="COP"/>
                    <xsd:enumeration value="CRC"/>
                    <xsd:enumeration value="HRK"/>
                    <xsd:enumeration value="CZK"/>
                    <xsd:enumeration value="DKK"/>
                    <xsd:enumeration value="DOP"/>
                    <xsd:enumeration value="EGP"/>
                    <xsd:enumeration value="EUR"/>
                    <xsd:enumeration value="GTQ"/>
                    <xsd:enumeration value="HNL"/>
                    <xsd:enumeration value="HKD"/>
                    <xsd:enumeration value="HUF"/>
                    <xsd:enumeration value="ISK"/>
                    <xsd:enumeration value="INR"/>
                    <xsd:enumeration value="IDR"/>
                    <xsd:enumeration value="IQD"/>
                    <xsd:enumeration value="ILS"/>
                    <xsd:enumeration value="JPY"/>
                    <xsd:enumeration value="JOD"/>
                    <xsd:enumeration value="KWD"/>
                    <xsd:enumeration value="LVL"/>
                    <xsd:enumeration value="LBP"/>
                    <xsd:enumeration value="LTL"/>
                    <xsd:enumeration value="MKD"/>
                    <xsd:enumeration value="MYR"/>
                    <xsd:enumeration value="MXN"/>
                    <xsd:enumeration value="MAD"/>
                    <xsd:enumeration value="NZD"/>
                    <xsd:enumeration value="NIO"/>
                    <xsd:enumeration value="NOK"/>
                    <xsd:enumeration value="OMR"/>
                    <xsd:enumeration value="PAB"/>
                    <xsd:enumeration value="PYG"/>
                    <xsd:enumeration value="PEN"/>
                    <xsd:enumeration value="PHP"/>
                    <xsd:enumeration value="PLN"/>
                    <xsd:enumeration value="QAR"/>
                    <xsd:enumeration value="RON"/>
                    <xsd:enumeration value="RUB"/>
                    <xsd:enumeration value="SAR"/>
                    <xsd:enumeration value="RSD"/>
                    <xsd:enumeration value="SGD"/>
                    <xsd:enumeration value="ZAR"/>
                    <xsd:enumeration value="SDG"/>
                    <xsd:enumeration value="SEK"/>
                    <xsd:enumeration value="CHF"/>
                    <xsd:enumeration value="SYP"/>
                    <xsd:enumeration value="TWD"/>
                    <xsd:enumeration value="TND"/>
                    <xsd:enumeration value="TRY"/>
                    <xsd:enumeration value="UAH"/>
                    <xsd:enumeration value="AED"/>
                    <xsd:enumeration value="GBP"/>
                    <xsd:enumeration value="USD"/>
                    <xsd:enumeration value="UYU"/>
                    <xsd:enumeration value="VEF"/>
                    <xsd:enumeration value="VND"/>
                    <xsd:enumeration value="YER"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LanguagesEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="ALB"/>
                    <xsd:enumeration value="ARA"/>
                    <xsd:enumeration value="BEL"/>
                    <xsd:enumeration value="BUL"/>
                    <xsd:enumeration value="CAT"/>
                    <xsd:enumeration value="CHI"/>
                    <xsd:enumeration value="SCR"/>
                    <xsd:enumeration value="CZE"/>
                    <xsd:enumeration value="DAN"/>
                    <xsd:enumeration value="DUT"/>
                    <xsd:enumeration value="ENG"/>
                    <xsd:enumeration value="FIN"/>
                    <xsd:enumeration value="FRE"/>
                    <xsd:enumeration value="GER"/>
                    <xsd:enumeration value="GRE"/>
                    <xsd:enumeration value="HEB"/>
                    <xsd:enumeration value="HIN"/>
                    <xsd:enumeration value="HUN"/>
                    <xsd:enumeration value="IND"/>
                    <xsd:enumeration value="GLE"/>
                    <xsd:enumeration value="ITA"/>
                    <xsd:enumeration value="JPN"/>
                    <xsd:enumeration value="LAV"/>
                    <xsd:enumeration value="LIT"/>
                    <xsd:enumeration value="MAC"/>
                    <xsd:enumeration value="MAY"/>
                    <xsd:enumeration value="MLT"/>
                    <xsd:enumeration value="NOR"/>
                    <xsd:enumeration value="POL"/>
                    <xsd:enumeration value="POR"/>
                    <xsd:enumeration value="RUM"/>
                    <xsd:enumeration value="RUS"/>
                    <xsd:enumeration value="SCC"/>
                    <xsd:enumeration value="SLO"/>
                    <xsd:enumeration value="SPA"/>
                    <xsd:enumeration value="THA"/>
                    <xsd:enumeration value="TUR"/>
                    <xsd:enumeration value="UKR"/>
                    <xsd:enumeration value="VIE"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CaRegionsEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="QC"/>
                    <xsd:enumeration value="HQ"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CountriesEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="AL"/>
                    <xsd:enumeration value="DZ"/>
                    <xsd:enumeration value="AR"/>
                    <xsd:enumeration value="AU"/>
                    <xsd:enumeration value="AT"/>
                    <xsd:enumeration value="BH"/>
                    <xsd:enumeration value="BY"/>
                    <xsd:enumeration value="BE"/>
                    <xsd:enumeration value="BO"/>
                    <xsd:enumeration value="BA"/>
                    <xsd:enumeration value="BR"/>
                    <xsd:enumeration value="BG"/>
                    <xsd:enumeration value="CA"/>
                    <xsd:enumeration value="CL"/>
                    <xsd:enumeration value="CN"/>
                    <xsd:enumeration value="CO"/>
                    <xsd:enumeration value="CR"/>
                    <xsd:enumeration value="HR"/>
                    <xsd:enumeration value="CY"/>
                    <xsd:enumeration value="CZ"/>
                    <xsd:enumeration value="DK"/>
                    <xsd:enumeration value="DO"/>
                    <xsd:enumeration value="EC"/>
                    <xsd:enumeration value="EG"/>
                    <xsd:enumeration value="SV"/>
                    <xsd:enumeration value="EE"/>
                    <xsd:enumeration value="FI"/>
                    <xsd:enumeration value="FR"/>
                    <xsd:enumeration value="DE"/>
                    <xsd:enumeration value="GR"/>
                    <xsd:enumeration value="GT"/>
                    <xsd:enumeration value="HN"/>
                    <xsd:enumeration value="HK"/>
                    <xsd:enumeration value="HU"/>
                    <xsd:enumeration value="IS"/>
                    <xsd:enumeration value="IN"/>
                    <xsd:enumeration value="ID"/>
                    <xsd:enumeration value="IQ"/>
                    <xsd:enumeration value="IE"/>
                    <xsd:enumeration value="IL"/>
                    <xsd:enumeration value="IT"/>
                    <xsd:enumeration value="JP"/>
                    <xsd:enumeration value="JO"/>
                    <xsd:enumeration value="KW"/>
                    <xsd:enumeration value="LV"/>
                    <xsd:enumeration value="LB"/>
                    <xsd:enumeration value="LT"/>
                    <xsd:enumeration value="LU"/>
                    <xsd:enumeration value="MK"/>
                    <xsd:enumeration value="MY"/>
                    <xsd:enumeration value="MT"/>
                    <xsd:enumeration value="MX"/>
                    <xsd:enumeration value="MA"/>
                    <xsd:enumeration value="NL"/>
                    <xsd:enumeration value="NZ"/>
                    <xsd:enumeration value="NI"/>
                    <xsd:enumeration value="NO"/>
                    <xsd:enumeration value="OM"/>
                    <xsd:enumeration value="PA"/>
                    <xsd:enumeration value="PY"/>
                    <xsd:enumeration value="PE"/>
                    <xsd:enumeration value="PH"/>
                    <xsd:enumeration value="PL"/>
                    <xsd:enumeration value="PT"/>
                    <xsd:enumeration value="PR"/>
                    <xsd:enumeration value="QA"/>
                    <xsd:enumeration value="RO"/>
                    <xsd:enumeration value="RU"/>
                    <xsd:enumeration value="SA"/>
                    <xsd:enumeration value="CS"/>
                    <xsd:enumeration value="SG"/>
                    <xsd:enumeration value="SK"/>
                    <xsd:enumeration value="SI"/>
                    <xsd:enumeration value="ZA"/>
                    <xsd:enumeration value="ES"/>
                    <xsd:enumeration value="SD"/>
                    <xsd:enumeration value="SE"/>
                    <xsd:enumeration value="CH"/>
                    <xsd:enumeration value="SY"/>
                    <xsd:enumeration value="TW"/>
                    <xsd:enumeration value="TH"/>
                    <xsd:enumeration value="TN"/>
                    <xsd:enumeration value="TR"/>
                    <xsd:enumeration value="UA"/>
                    <xsd:enumeration value="AE"/>
                    <xsd:enumeration value="GB"/>
                    <xsd:enumeration value="US"/>
                    <xsd:enumeration value="UY"/>
                    <xsd:enumeration value="VE"/>
                    <xsd:enumeration value="VN"/>
                    <xsd:enumeration value="YE"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://itest.openl.org"
                    attributeFormDefault="qualified" elementFormDefault="qualified"
                    targetNamespace="http://itest.openl.org">
            <xsd:complexType name="Error">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="message" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://calc.rules.openl.org"
                    xmlns:ns1="http://cxf.apache.org/arrays" xmlns:ns0="http://DefaultNamespace"
                    attributeFormDefault="qualified" elementFormDefault="qualified"
                    targetNamespace="http://calc.rules.openl.org">
            <xsd:import namespace="http://DefaultNamespace"/>
            <xsd:import namespace="http://cxf.apache.org/arrays"/>
            <xsd:complexType name="SpreadsheetResult">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="columnNames" type="ns0:ArrayOfString"/>
                    <xsd:element minOccurs="0" name="results" type="ns1:ArrayOfArrayOfAnyType"/>
                    <xsd:element minOccurs="0" name="rowNames" type="ns0:ArrayOfString"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://context.rules.openl.org"
                    xmlns:ns1="http://enumeration.rules.openl.org" xmlns:ns0="http://runtime.openl.org"
                    attributeFormDefault="qualified" elementFormDefault="qualified"
                    targetNamespace="http://context.rules.openl.org">
            <xsd:import namespace="http://enumeration.rules.openl.org"/>
            <xsd:import namespace="http://runtime.openl.org"/>
            <xsd:complexType name="IRulesRuntimeContext">
                <xsd:complexContent>
                    <xsd:extension base="ns0:IRuntimeContext">
                        <xsd:sequence>
                            <xsd:element minOccurs="0" name="caProvince" type="ns1:CaProvincesEnum"/>
                            <xsd:element minOccurs="0" name="caRegion" type="ns1:CaRegionsEnum"/>
                            <xsd:element minOccurs="0" name="country" type="ns1:CountriesEnum"/>
                            <xsd:element minOccurs="0" name="currency" type="ns1:CurrenciesEnum"/>
                            <xsd:element minOccurs="0" name="currentDate" type="xsd:dateTime"/>
                            <xsd:element minOccurs="0" name="lang" type="ns1:LanguagesEnum"/>
                            <xsd:element minOccurs="0" name="lob" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="nature" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="region" type="ns1:RegionsEnum"/>
                            <xsd:element minOccurs="0" name="requestDate" type="xsd:dateTime"/>
                            <xsd:element minOccurs="0" name="usRegion" type="ns1:UsRegionsEnum"/>
                            <xsd:element minOccurs="0" name="usState" type="ns1:UsStatesEnum"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="arrSpreadsheetResultspr1">
        <wsdl:part element="tns:arrSpreadsheetResultspr1" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="arrSpreadsheetResult">
        <wsdl:part element="tns:arrSpreadsheetResult" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="arrSpreadsheetResultResponse">
        <wsdl:part element="tns:arrSpreadsheetResultResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="mySpr">
        <wsdl:part element="tns:mySpr" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="arrSpreadsheetResultspr1Response">
        <wsdl:part element="tns:arrSpreadsheetResultspr1Response" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="arrObjSpreadsheetResultResponse">
        <wsdl:part element="tns:arrObjSpreadsheetResultResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="mySpr2Response">
        <wsdl:part element="tns:mySpr2Response" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="arrObjSpreadsheetResult">
        <wsdl:part element="tns:arrObjSpreadsheetResult" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="main">
        <wsdl:part element="tns:main" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="mainResponse">
        <wsdl:part element="tns:mainResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="mySprResponse">
        <wsdl:part element="tns:mySprResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="mySpr2">
        <wsdl:part element="tns:mySpr2" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="simple3PortType">
        <wsdl:operation name="arrSpreadsheetResultspr1">
            <wsdl:input message="tns:arrSpreadsheetResultspr1" name="arrSpreadsheetResultspr1">
            </wsdl:input>
            <wsdl:output message="tns:arrSpreadsheetResultspr1Response" name="arrSpreadsheetResultspr1Response">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="arrSpreadsheetResult">
            <wsdl:input message="tns:arrSpreadsheetResult" name="arrSpreadsheetResult">
            </wsdl:input>
            <wsdl:output message="tns:arrSpreadsheetResultResponse" name="arrSpreadsheetResultResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="main">
            <wsdl:input message="tns:main" name="main">
            </wsdl:input>
            <wsdl:output message="tns:mainResponse" name="mainResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="mySpr">
            <wsdl:input message="tns:mySpr" name="mySpr">
            </wsdl:input>
            <wsdl:output message="tns:mySprResponse" name="mySprResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="arrObjSpreadsheetResult">
            <wsdl:input message="tns:arrObjSpreadsheetResult" name="arrObjSpreadsheetResult">
            </wsdl:input>
            <wsdl:output message="tns:arrObjSpreadsheetResultResponse" name="arrObjSpreadsheetResultResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="mySpr2">
            <wsdl:input message="tns:mySpr2" name="mySpr2">
            </wsdl:input>
            <wsdl:output message="tns:mySpr2Response" name="mySpr2Response">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="simple3SoapBinding" type="tns:simple3PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="arrSpreadsheetResultspr1">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="arrSpreadsheetResultspr1">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="arrSpreadsheetResultspr1Response">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="arrSpreadsheetResult">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="arrSpreadsheetResult">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="arrSpreadsheetResultResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="arrObjSpreadsheetResult">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="arrObjSpreadsheetResult">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="arrObjSpreadsheetResultResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="main">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="main">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="mainResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="mySpr">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="mySpr">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="mySprResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="mySpr2">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="mySpr2">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="mySpr2Response">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="simple3">
        <wsdl:port binding="tns:simple3SoapBinding" name="simple3PortType">
            <soap:address location="http://localhost:#####/deployment3/simple3"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>