ITEST/itest.WebService/test-resources/simple1_wsdl.resp.xml

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://DefaultNamespace" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="simple1" targetNamespace="http://DefaultNamespace">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://runtime.openl.org" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://runtime.openl.org">
            <xsd:complexType name="IRuntimeContext">
                <xsd:sequence/>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://variation.rules.openl.org" xmlns:ns0="http://DefaultNamespace" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://variation.rules.openl.org">
            <xsd:import namespace="http://DefaultNamespace"/>
            <xsd:complexType name="DeepCloningVariation">
                <xsd:complexContent>
                    <xsd:extension base="tns:Variation">
                        <xsd:sequence>
                            <xsd:element minOccurs="0" name="delegatedVariation" nillable="true" type="tns:Variation"/>
                            <xsd:any maxOccurs="unbounded" minOccurs="0"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
                <xsd:anyAttribute/>
            </xsd:complexType>
            <xsd:complexType name="ArgumentReplacementVariation">
                <xsd:complexContent>
                    <xsd:extension base="tns:Variation">
                        <xsd:sequence>
                            <xsd:element minOccurs="0" name="updatedArgumentIndex" type="xsd:int"/>
                            <xsd:element minOccurs="0" name="valueToSet" nillable="true" type="xsd:anyType"/>
                            <xsd:any maxOccurs="unbounded" minOccurs="0"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
                <xsd:anyAttribute/>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfVariation">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Variation" nillable="true" type="tns:Variation"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="NoVariation">
                <xsd:complexContent>
                    <xsd:extension base="tns:Variation">
                        <xsd:sequence/>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="ComplexVariation">
                <xsd:complexContent>
                    <xsd:extension base="tns:Variation">
                        <xsd:sequence>
                            <xsd:element minOccurs="0" name="variations" nillable="true" type="tns:ArrayOfVariation"/>
                            <xsd:any maxOccurs="unbounded" minOccurs="0"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
                <xsd:anyAttribute/>
            </xsd:complexType>
            <xsd:complexType abstract="true" name="Variation">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="variationID" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="JXPathVariation">
                <xsd:complexContent>
                    <xsd:extension base="tns:Variation">
                        <xsd:sequence>
                            <xsd:element minOccurs="0" name="path" nillable="true" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="updatedArgumentIndex" type="xsd:int"/>
                            <xsd:element minOccurs="0" name="valueToSet" nillable="true" type="xsd:anyType"/>
                            <xsd:any maxOccurs="unbounded" minOccurs="0"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
                <xsd:anyAttribute/>
            </xsd:complexType>
            <xsd:complexType name="VariationsResult">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="data" nillable="true" type="xsd:base64Binary"/>
                    <xsd:element minOccurs="0" name="variationFailures" nillable="true" type="ns0:string2stringMap"/>
                    <xsd:element minOccurs="0" name="variationResults" nillable="true" type="ns0:string2anyTypeMap"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="VariationsPack">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="variations" nillable="true" type="tns:ArrayOfVariation"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://cxf.apache.org/arrays" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://cxf.apache.org/arrays">
            <xsd:complexType name="ArrayOfArrayOfAnyType">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="ArrayOfAnyType" nillable="true" type="tns:ArrayOfAnyType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfAnyType">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="anyType" nillable="true" type="xsd:anyType"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://DefaultNamespace" xmlns:ns2="http://variation.rules.openl.org" xmlns:ns1="http://csr.generated.openl.org" xmlns:ns0="http://context.rules.openl.org" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://DefaultNamespace">
            <xsd:import namespace="http://context.rules.openl.org"/>
            <xsd:import namespace="http://csr.generated.openl.org"/>
            <xsd:import namespace="http://variation.rules.openl.org"/>
            <xsd:complexType name="string2stringMap">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="entry">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="key" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="value" type="xsd:string"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfString">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="string" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="string2anyTypeMap">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="entry">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="key" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="value" type="xsd:anyType"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="Hello" type="tns:Hello"/>
            <xsd:complexType name="Hello">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="runtimeContext" type="ns0:IRulesRuntimeContext"/>
                    <xsd:element minOccurs="0" name="hour" nillable="true" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="HelloResponse" type="tns:HelloResponse"/>
            <xsd:complexType name="HelloResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="return" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="test" type="tns:test"/>
            <xsd:complexType name="test">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="runtimeContext" type="ns0:IRulesRuntimeContext"/>
                    <xsd:element minOccurs="0" name="hour" nillable="true" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="testResponse" type="tns:testResponse"/>
            <xsd:complexType name="testResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="return" type="ns1:Test"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="test1" type="tns:test1"/>
            <xsd:complexType name="test1">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="runtimeContext" type="ns0:IRulesRuntimeContext"/>
                    <xsd:element minOccurs="0" name="hour" nillable="true" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="variationPack" type="ns2:VariationsPack"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="test1Response" type="tns:test1Response"/>
            <xsd:complexType name="test1Response">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="return" type="ns2:VariationsResult"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="Hello1" type="tns:Hello1"/>
            <xsd:complexType name="Hello1">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="runtimeContext" type="ns0:IRulesRuntimeContext"/>
                    <xsd:element minOccurs="0" name="hour" nillable="true" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="variationPack" type="ns2:VariationsPack"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="Hello1Response" type="tns:Hello1Response"/>
            <xsd:complexType name="Hello1Response">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="return" type="ns2:VariationsResult"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://csr.generated.openl.org" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://csr.generated.openl.org">
            <xsd:complexType name="Test">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="value1R10" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="value1R20" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="value1R30" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="value1R40" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="value2R10" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="value2R20" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="value2R30" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="value2R40" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="valueR10" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="valueR20" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="valueR30" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="valueR40" type="xsd:double"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="AnySpreadsheetResult">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="value1R10" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="value1R20" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="value1R30" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="value1R40" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="value2R10" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="value2R20" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="value2R30" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="value2R40" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="valueR10" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="valueR20" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="valueR30" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="valueR40" type="xsd:double"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://itest.openl.org" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://itest.openl.org">
            <xsd:complexType name="Error">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="message" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://enumeration.rules.openl.org" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://enumeration.rules.openl.org">
            <xsd:simpleType name="LanguagesEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="ALB"/>
                    <xsd:enumeration value="ARA"/>
                    <xsd:enumeration value="BEL"/>
                    <xsd:enumeration value="BUL"/>
                    <xsd:enumeration value="CAT"/>
                    <xsd:enumeration value="CHI"/>
                    <xsd:enumeration value="SCR"/>
                    <xsd:enumeration value="CZE"/>
                    <xsd:enumeration value="DAN"/>
                    <xsd:enumeration value="DUT"/>
                    <xsd:enumeration value="ENG"/>
                    <xsd:enumeration value="FIN"/>
                    <xsd:enumeration value="FRE"/>
                    <xsd:enumeration value="GER"/>
                    <xsd:enumeration value="GRE"/>
                    <xsd:enumeration value="HEB"/>
                    <xsd:enumeration value="HIN"/>
                    <xsd:enumeration value="HUN"/>
                    <xsd:enumeration value="IND"/>
                    <xsd:enumeration value="GLE"/>
                    <xsd:enumeration value="ITA"/>
                    <xsd:enumeration value="JPN"/>
                    <xsd:enumeration value="LAV"/>
                    <xsd:enumeration value="LIT"/>
                    <xsd:enumeration value="MAC"/>
                    <xsd:enumeration value="MAY"/>
                    <xsd:enumeration value="MLT"/>
                    <xsd:enumeration value="NOR"/>
                    <xsd:enumeration value="POL"/>
                    <xsd:enumeration value="POR"/>
                    <xsd:enumeration value="RUM"/>
                    <xsd:enumeration value="RUS"/>
                    <xsd:enumeration value="SCC"/>
                    <xsd:enumeration value="SLO"/>
                    <xsd:enumeration value="SPA"/>
                    <xsd:enumeration value="THA"/>
                    <xsd:enumeration value="TUR"/>
                    <xsd:enumeration value="UKR"/>
                    <xsd:enumeration value="VIE"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CurrenciesEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="ALL"/>
                    <xsd:enumeration value="DZD"/>
                    <xsd:enumeration value="ARS"/>
                    <xsd:enumeration value="AUD"/>
                    <xsd:enumeration value="BHD"/>
                    <xsd:enumeration value="BYR"/>
                    <xsd:enumeration value="BOB"/>
                    <xsd:enumeration value="BAM"/>
                    <xsd:enumeration value="BRL"/>
                    <xsd:enumeration value="CAD"/>
                    <xsd:enumeration value="CLP"/>
                    <xsd:enumeration value="CNY"/>
                    <xsd:enumeration value="COP"/>
                    <xsd:enumeration value="CRC"/>
                    <xsd:enumeration value="HRK"/>
                    <xsd:enumeration value="CZK"/>
                    <xsd:enumeration value="DKK"/>
                    <xsd:enumeration value="DOP"/>
                    <xsd:enumeration value="EGP"/>
                    <xsd:enumeration value="EUR"/>
                    <xsd:enumeration value="GTQ"/>
                    <xsd:enumeration value="HNL"/>
                    <xsd:enumeration value="HKD"/>
                    <xsd:enumeration value="HUF"/>
                    <xsd:enumeration value="ISK"/>
                    <xsd:enumeration value="INR"/>
                    <xsd:enumeration value="IDR"/>
                    <xsd:enumeration value="IQD"/>
                    <xsd:enumeration value="ILS"/>
                    <xsd:enumeration value="JPY"/>
                    <xsd:enumeration value="JOD"/>
                    <xsd:enumeration value="KWD"/>
                    <xsd:enumeration value="LVL"/>
                    <xsd:enumeration value="LBP"/>
                    <xsd:enumeration value="LTL"/>
                    <xsd:enumeration value="MKD"/>
                    <xsd:enumeration value="MYR"/>
                    <xsd:enumeration value="MXN"/>
                    <xsd:enumeration value="MAD"/>
                    <xsd:enumeration value="NZD"/>
                    <xsd:enumeration value="NIO"/>
                    <xsd:enumeration value="NOK"/>
                    <xsd:enumeration value="OMR"/>
                    <xsd:enumeration value="PAB"/>
                    <xsd:enumeration value="PYG"/>
                    <xsd:enumeration value="PEN"/>
                    <xsd:enumeration value="PHP"/>
                    <xsd:enumeration value="PLN"/>
                    <xsd:enumeration value="QAR"/>
                    <xsd:enumeration value="RON"/>
                    <xsd:enumeration value="RUB"/>
                    <xsd:enumeration value="SAR"/>
                    <xsd:enumeration value="RSD"/>
                    <xsd:enumeration value="SGD"/>
                    <xsd:enumeration value="ZAR"/>
                    <xsd:enumeration value="SDG"/>
                    <xsd:enumeration value="SEK"/>
                    <xsd:enumeration value="CHF"/>
                    <xsd:enumeration value="SYP"/>
                    <xsd:enumeration value="TWD"/>
                    <xsd:enumeration value="TND"/>
                    <xsd:enumeration value="TRY"/>
                    <xsd:enumeration value="UAH"/>
                    <xsd:enumeration value="AED"/>
                    <xsd:enumeration value="GBP"/>
                    <xsd:enumeration value="USD"/>
                    <xsd:enumeration value="UYU"/>
                    <xsd:enumeration value="VEF"/>
                    <xsd:enumeration value="VND"/>
                    <xsd:enumeration value="YER"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="UsRegionsEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="MW"/>
                    <xsd:enumeration value="NE"/>
                    <xsd:enumeration value="SE"/>
                    <xsd:enumeration value="SW"/>
                    <xsd:enumeration value="W"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="RegionsEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="NCSA"/>
                    <xsd:enumeration value="EU"/>
                    <xsd:enumeration value="EMEA"/>
                    <xsd:enumeration value="APJ"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CaProvincesEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="AB"/>
                    <xsd:enumeration value="BC"/>
                    <xsd:enumeration value="PE"/>
                    <xsd:enumeration value="MB"/>
                    <xsd:enumeration value="NB"/>
                    <xsd:enumeration value="NS"/>
                    <xsd:enumeration value="NU"/>
                    <xsd:enumeration value="ON"/>
                    <xsd:enumeration value="QC"/>
                    <xsd:enumeration value="SK"/>
                    <xsd:enumeration value="NL"/>
                    <xsd:enumeration value="YT"/>
                    <xsd:enumeration value="NT"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="UsStatesEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="AL"/>
                    <xsd:enumeration value="AK"/>
                    <xsd:enumeration value="AZ"/>
                    <xsd:enumeration value="AR"/>
                    <xsd:enumeration value="CA"/>
                    <xsd:enumeration value="CO"/>
                    <xsd:enumeration value="CT"/>
                    <xsd:enumeration value="DC"/>
                    <xsd:enumeration value="DE"/>
                    <xsd:enumeration value="FL"/>
                    <xsd:enumeration value="GA"/>
                    <xsd:enumeration value="HI"/>
                    <xsd:enumeration value="ID"/>
                    <xsd:enumeration value="IL"/>
                    <xsd:enumeration value="IN"/>
                    <xsd:enumeration value="IA"/>
                    <xsd:enumeration value="KS"/>
                    <xsd:enumeration value="KY"/>
                    <xsd:enumeration value="LA"/>
                    <xsd:enumeration value="ME"/>
                    <xsd:enumeration value="MD"/>
                    <xsd:enumeration value="MA"/>
                    <xsd:enumeration value="MI"/>
                    <xsd:enumeration value="MN"/>
                    <xsd:enumeration value="MS"/>
                    <xsd:enumeration value="MO"/>
                    <xsd:enumeration value="MT"/>
                    <xsd:enumeration value="NE"/>
                    <xsd:enumeration value="NV"/>
                    <xsd:enumeration value="NH"/>
                    <xsd:enumeration value="NJ"/>
                    <xsd:enumeration value="NM"/>
                    <xsd:enumeration value="NY"/>
                    <xsd:enumeration value="NC"/>
                    <xsd:enumeration value="ND"/>
                    <xsd:enumeration value="OH"/>
                    <xsd:enumeration value="OK"/>
                    <xsd:enumeration value="OR"/>
                    <xsd:enumeration value="PA"/>
                    <xsd:enumeration value="PR"/>
                    <xsd:enumeration value="RI"/>
                    <xsd:enumeration value="SC"/>
                    <xsd:enumeration value="SD"/>
                    <xsd:enumeration value="TN"/>
                    <xsd:enumeration value="TX"/>
                    <xsd:enumeration value="UT"/>
                    <xsd:enumeration value="VT"/>
                    <xsd:enumeration value="VA"/>
                    <xsd:enumeration value="WA"/>
                    <xsd:enumeration value="WV"/>
                    <xsd:enumeration value="WI"/>
                    <xsd:enumeration value="WY"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CaRegionsEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="QC"/>
                    <xsd:enumeration value="HQ"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CountriesEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="AL"/>
                    <xsd:enumeration value="DZ"/>
                    <xsd:enumeration value="AR"/>
                    <xsd:enumeration value="AU"/>
                    <xsd:enumeration value="AT"/>
                    <xsd:enumeration value="BH"/>
                    <xsd:enumeration value="BY"/>
                    <xsd:enumeration value="BE"/>
                    <xsd:enumeration value="BO"/>
                    <xsd:enumeration value="BA"/>
                    <xsd:enumeration value="BR"/>
                    <xsd:enumeration value="BG"/>
                    <xsd:enumeration value="CA"/>
                    <xsd:enumeration value="CL"/>
                    <xsd:enumeration value="CN"/>
                    <xsd:enumeration value="CO"/>
                    <xsd:enumeration value="CR"/>
                    <xsd:enumeration value="HR"/>
                    <xsd:enumeration value="CY"/>
                    <xsd:enumeration value="CZ"/>
                    <xsd:enumeration value="DK"/>
                    <xsd:enumeration value="DO"/>
                    <xsd:enumeration value="EC"/>
                    <xsd:enumeration value="EG"/>
                    <xsd:enumeration value="SV"/>
                    <xsd:enumeration value="EE"/>
                    <xsd:enumeration value="FI"/>
                    <xsd:enumeration value="FR"/>
                    <xsd:enumeration value="DE"/>
                    <xsd:enumeration value="GR"/>
                    <xsd:enumeration value="GT"/>
                    <xsd:enumeration value="HN"/>
                    <xsd:enumeration value="HK"/>
                    <xsd:enumeration value="HU"/>
                    <xsd:enumeration value="IS"/>
                    <xsd:enumeration value="IN"/>
                    <xsd:enumeration value="ID"/>
                    <xsd:enumeration value="IQ"/>
                    <xsd:enumeration value="IE"/>
                    <xsd:enumeration value="IL"/>
                    <xsd:enumeration value="IT"/>
                    <xsd:enumeration value="JP"/>
                    <xsd:enumeration value="JO"/>
                    <xsd:enumeration value="KW"/>
                    <xsd:enumeration value="LV"/>
                    <xsd:enumeration value="LB"/>
                    <xsd:enumeration value="LT"/>
                    <xsd:enumeration value="LU"/>
                    <xsd:enumeration value="MK"/>
                    <xsd:enumeration value="MY"/>
                    <xsd:enumeration value="MT"/>
                    <xsd:enumeration value="MX"/>
                    <xsd:enumeration value="MA"/>
                    <xsd:enumeration value="NL"/>
                    <xsd:enumeration value="NZ"/>
                    <xsd:enumeration value="NI"/>
                    <xsd:enumeration value="NO"/>
                    <xsd:enumeration value="OM"/>
                    <xsd:enumeration value="PA"/>
                    <xsd:enumeration value="PY"/>
                    <xsd:enumeration value="PE"/>
                    <xsd:enumeration value="PH"/>
                    <xsd:enumeration value="PL"/>
                    <xsd:enumeration value="PT"/>
                    <xsd:enumeration value="PR"/>
                    <xsd:enumeration value="QA"/>
                    <xsd:enumeration value="RO"/>
                    <xsd:enumeration value="RU"/>
                    <xsd:enumeration value="SA"/>
                    <xsd:enumeration value="CS"/>
                    <xsd:enumeration value="SG"/>
                    <xsd:enumeration value="SK"/>
                    <xsd:enumeration value="SI"/>
                    <xsd:enumeration value="ZA"/>
                    <xsd:enumeration value="ES"/>
                    <xsd:enumeration value="SD"/>
                    <xsd:enumeration value="SE"/>
                    <xsd:enumeration value="CH"/>
                    <xsd:enumeration value="SY"/>
                    <xsd:enumeration value="TW"/>
                    <xsd:enumeration value="TH"/>
                    <xsd:enumeration value="TN"/>
                    <xsd:enumeration value="TR"/>
                    <xsd:enumeration value="UA"/>
                    <xsd:enumeration value="AE"/>
                    <xsd:enumeration value="GB"/>
                    <xsd:enumeration value="US"/>
                    <xsd:enumeration value="UY"/>
                    <xsd:enumeration value="VE"/>
                    <xsd:enumeration value="VN"/>
                    <xsd:enumeration value="YE"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://table.rules.openl.org" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://table.rules.openl.org">
            <xsd:complexType name="Point">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="column" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="row" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://calc.rules.openl.org" xmlns:ns1="http://cxf.apache.org/arrays" xmlns:ns0="http://DefaultNamespace" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://calc.rules.openl.org">
            <xsd:import namespace="http://DefaultNamespace"/>
            <xsd:import namespace="http://cxf.apache.org/arrays"/>
            <xsd:complexType name="SpreadsheetResult">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="columnNames" nillable="true" type="ns0:ArrayOfString"/>
                    <xsd:element minOccurs="0" name="results" nillable="true" type="ns1:ArrayOfArrayOfAnyType"/>
                    <xsd:element minOccurs="0" name="rowNames" nillable="true" type="ns0:ArrayOfString"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://convertor2.result.calculation.rules.openl.org" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://convertor2.result.calculation.rules.openl.org">
            <xsd:complexType name="CodeStep">
                <xsd:complexContent>
                    <xsd:extension base="tns:CalculationStep">
                        <xsd:sequence>
                            <xsd:element minOccurs="0" name="code" nillable="true" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="value" nillable="true" type="xsd:double"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="CalculationStep">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="formula" nillable="true" type="xsd:double"/>
                    <xsd:element minOccurs="0" name="stepName" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SimpleStep">
                <xsd:complexContent>
                    <xsd:extension base="tns:CodeStep">
                        <xsd:sequence>
                            <xsd:element minOccurs="0" name="text" nillable="true" type="xsd:string"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="CompoundStep">
                <xsd:complexContent>
                    <xsd:extension base="tns:CodeStep">
                        <xsd:sequence>
                            <xsd:element minOccurs="0" name="id" nillable="true" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="steps" nillable="true" type="tns:ArrayOfCalculationStep"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfCalculationStep">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="CalculationStep" nillable="true" type="tns:CalculationStep"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://context.rules.openl.org" xmlns:ns1="http://enumeration.rules.openl.org" xmlns:ns0="http://runtime.openl.org" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://context.rules.openl.org">
            <xsd:import namespace="http://enumeration.rules.openl.org"/>
            <xsd:import namespace="http://runtime.openl.org"/>
            <xsd:complexType name="IRulesRuntimeContext">
                <xsd:complexContent>
                    <xsd:extension base="ns0:IRuntimeContext">
                        <xsd:sequence>
                            <xsd:element minOccurs="0" name="caProvince" nillable="true" type="ns1:CaProvincesEnum"/>
                            <xsd:element minOccurs="0" name="caRegion" nillable="true" type="ns1:CaRegionsEnum"/>
                            <xsd:element minOccurs="0" name="country" nillable="true" type="ns1:CountriesEnum"/>
                            <xsd:element minOccurs="0" name="currency" nillable="true" type="ns1:CurrenciesEnum"/>
                            <xsd:element minOccurs="0" name="currentDate" type="xsd:dateTime"/>
                            <xsd:element minOccurs="0" name="lang" nillable="true" type="ns1:LanguagesEnum"/>
                            <xsd:element minOccurs="0" name="lob" nillable="true" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="nature" nillable="true" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="region" nillable="true" type="ns1:RegionsEnum"/>
                            <xsd:element minOccurs="0" name="requestDate" type="xsd:dateTime"/>
                            <xsd:element minOccurs="0" name="usRegion" nillable="true" type="ns1:UsRegionsEnum"/>
                            <xsd:element minOccurs="0" name="usState" nillable="true" type="ns1:UsStatesEnum"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="HelloResponse">
        <wsdl:part element="tns:HelloResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="Hello">
        <wsdl:part element="tns:Hello" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="test">
        <wsdl:part element="tns:test" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="Hello1Response">
        <wsdl:part element="tns:Hello1Response" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="test1Response">
        <wsdl:part element="tns:test1Response" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="Hello1">
        <wsdl:part element="tns:Hello1" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="test1">
        <wsdl:part element="tns:test1" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="testResponse">
        <wsdl:part element="tns:testResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="simple1PortType">
        <wsdl:operation name="Hello">
            <wsdl:input message="tns:Hello" name="Hello">
            </wsdl:input>
            <wsdl:output message="tns:HelloResponse" name="HelloResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="test">
            <wsdl:input message="tns:test" name="test">
            </wsdl:input>
            <wsdl:output message="tns:testResponse" name="testResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="test1">
            <wsdl:input message="tns:test1" name="test1">
            </wsdl:input>
            <wsdl:output message="tns:test1Response" name="test1Response">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Hello1">
            <wsdl:input message="tns:Hello1" name="Hello1">
            </wsdl:input>
            <wsdl:output message="tns:Hello1Response" name="Hello1Response">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="simple1SoapBinding" type="tns:simple1PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Hello">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="Hello">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="HelloResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="test">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="test">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="testResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="test1">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="test1">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="test1Response">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Hello1">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="Hello1">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="Hello1Response">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="simple1">
        <wsdl:port binding="tns:simple1SoapBinding" name="simple1PortType">
            <soap:address location="http://localhost:#####/deployment1/simple1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>