STUDIO/org.openl.extension.xmlrules/src/org/openl/extension/xmlrules/xsd/common.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="range">
        <xs:sequence>
            <xs:element name="colCount" type="xs:int" default="1" minOccurs="0"/>
            <xs:element name="column" type="xs:string"/>
            <xs:element name="path" type="xs:string" minOccurs="0"/>
            <xs:element name="row" type="xs:string"/>
            <xs:element name="rowCount" type="xs:int" default="1" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
