WSFrontend/tags/release-5.8.2/org.openl.rules.ruleservice.client/src/test/resources/com.exigen.hldsa.rate.gen.Rating.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="PremiumServiceImplService" targetNamespace="http://service.ws.rate.hldsa.exigen.com/"
                  xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://service.ws.rate.hldsa.exigen.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified"
                   targetNamespace="http://service.ws.rate.hldsa.exigen.com/"
                   xmlns:tns="http://service.ws.rate.hldsa.exigen.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:complexType name="product">
                <xs:sequence>
                    <xs:element name="productCode" type="xs:int"/>
                    <xs:element name="schemeNo" type="xs:int"/>
                    <xs:element name="versionITC" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="riskItem">
                <xs:sequence>
                    <xs:element minOccurs="0" name="agreedValue" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="rateEffectiveDate" type="xs:dateTime"/>
                    <xs:element name="sumInsured" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="computer">
                <xs:complexContent>
                    <xs:extension base="tns:riskItem">
                        <xs:sequence>
                            <xs:element name="totalValue" type="xs:int"/>
                            <xs:element name="year" type="xs:int"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="policy">
                <xs:sequence>
                    <xs:element name="carHire" type="xs:int"/>
                    <xs:element minOccurs="0" name="cover" type="xs:string"/>
                    <xs:element name="debitOrderRejectNum" type="xs:int"/>
                    <xs:element name="excludeTheft" type="xs:boolean"/>
                    <xs:element name="inflationBuster" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="policyEffectiveDate" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="processCode" type="xs:string"/>
                    <xs:element minOccurs="0" name="quoteDate" type="xs:dateTime"/>
                    <xs:element name="quoteYear" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ratingResponse">
                <xs:sequence>
                    <xs:element name="annualPremium" type="xs:double"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="messages" nillable="true" type="xs:string"/>
                    <xs:element name="monthlyPremium" type="xs:double"/>
                    <xs:element name="passed" type="xs:boolean"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="underwrites" nillable="true"
                                type="tns:underwritingRequest"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="underwritingRequest">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                    <xs:element name="rate" type="xs:double"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="motor">
                <xs:complexContent>
                    <xs:extension base="tns:riskItem">
                        <xs:sequence>
                            <xs:element name="basicExcess" type="xs:int"/>
                            <xs:element minOccurs="0" name="bodyType" type="xs:string"/>
                            <xs:element name="carAge" type="xs:int"/>
                            <xs:element name="codeThree" type="xs:boolean"/>
                            <xs:element minOccurs="0" name="envDate" type="xs:dateTime"/>
                            <xs:element name="extrasValue" type="xs:int"/>
                            <xs:element minOccurs="0" name="immobilizer" type="xs:string"/>
                            <xs:element name="make" type="xs:int"/>
                            <xs:element name="model" type="xs:int"/>
                            <xs:element name="suppotedByContents" type="xs:boolean"/>
                            <xs:element name="totalVehicleValue" type="xs:int"/>
                            <xs:element name="trackingDevice" type="xs:boolean"/>
                            <xs:element minOccurs="0" name="typeOfExcess" type="xs:string"/>
                            <xs:element minOccurs="0" name="typeOfUse" type="xs:string"/>
                            <xs:element minOccurs="0" name="validForNewBiz" type="xs:string"/>
                            <xs:element name="vehicleValue" type="xs:int"/>
                            <xs:element name="yearOfManufacture" type="xs:int"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="driver">
                <xs:sequence>
                    <xs:element minOccurs="0" name="dateOfBirth" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="gender" type="xs:string"/>
                    <xs:element name="levelITC" type="xs:int"/>
                    <xs:element name="levelNCB" type="xs:int"/>
                    <xs:element name="licenseAge" type="xs:int"/>
                    <xs:element minOccurs="0" name="licenseEndorsement" type="xs:string"/>
                    <xs:element minOccurs="0" name="licenseType" type="xs:string"/>
                    <xs:element minOccurs="0" name="licensedDate" type="xs:dateTime"/>
                    <xs:element name="losses0to12" type="xs:int"/>
                    <xs:element name="losses13to24" type="xs:int"/>
                    <xs:element name="losses25to36" type="xs:int"/>
                    <xs:element minOccurs="0" name="marital" type="xs:string"/>
                    <xs:element name="numberOfClaims" type="xs:int"/>
                    <xs:element name="pensioner" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="suburbID" type="xs:string"/>
                    <xs:element name="yearsOfInsurance" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="allrisks">
                <xs:complexContent>
                    <xs:extension base="tns:riskItem">
                        <xs:sequence>
                            <xs:element name="category" type="xs:int"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="accident">
                <xs:complexContent>
                    <xs:extension base="tns:riskItem">
                        <xs:sequence>
                            <xs:element name="year" type="xs:int"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="householder">
                <xs:complexContent>
                    <xs:extension base="tns:riskItem">
                        <xs:sequence>
                            <xs:element name="accessControl" type="xs:boolean"/>
                            <xs:element minOccurs="0" name="alarmType" type="xs:string"/>
                            <xs:element name="basicExcess" type="xs:int"/>
                            <xs:element name="buildingUnderConstr" type="xs:boolean"/>
                            <xs:element name="burglarBars" type="xs:boolean"/>
                            <xs:element name="businessUse" type="xs:boolean"/>
                            <xs:element name="constructionArea" type="xs:boolean"/>
                            <xs:element name="daysUnoccupied" type="xs:int"/>
                            <xs:element name="goodsInStorage" type="xs:boolean"/>
                            <xs:element name="holidayHome" type="xs:boolean"/>
                            <xs:element name="lightConductor" type="xs:boolean"/>
                            <xs:element name="openGround" type="xs:boolean"/>
                            <xs:element name="otherFamily" type="xs:boolean"/>
                            <xs:element minOccurs="0" name="perimeterWall" type="xs:string"/>
                            <xs:element name="plot" type="xs:boolean"/>
                            <xs:element minOccurs="0" name="roofConstruction" type="xs:string"/>
                            <xs:element name="securityComplex" type="xs:boolean"/>
                            <xs:element minOccurs="0" name="suburbID" type="xs:string"/>
                            <xs:element minOccurs="0" name="typeOfDwelling" type="xs:string"/>
                            <xs:element minOccurs="0" name="wallConstruction" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="customer">
                <xs:sequence>
                    <xs:element name="age" type="xs:int"/>
                    <xs:element name="levelNCB" type="xs:int"/>
                    <xs:element name="losses0to12" type="xs:int"/>
                    <xs:element name="losses13to24" type="xs:int"/>
                    <xs:element name="losses25to36" type="xs:int"/>
                    <xs:element name="numberOfClaims" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="subsidence">
                <xs:complexContent>
                    <xs:extension base="tns:riskItem">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="roofConstruction" type="xs:string"/>
                            <xs:element name="subsidence" type="xs:boolean"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="caravan">
                <xs:complexContent>
                    <xs:extension base="tns:riskItem">
                        <xs:sequence>
                            <xs:element name="caravanAge" type="xs:int"/>
                            <xs:element minOccurs="0" name="modification" type="xs:string"/>
                            <xs:element name="parkingMethod" type="xs:int"/>
                            <xs:element minOccurs="0" name="typeOfUse" type="xs:string"/>
                            <xs:element name="yearOfManufacture" type="xs:int"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="homeownerItem">
                <xs:complexContent>
                    <xs:extension base="tns:riskItem">
                        <xs:sequence>
                            <xs:element name="buildingUnderConstr" type="xs:boolean"/>
                            <xs:element name="businessUse" type="xs:boolean"/>
                            <xs:element name="daysUnoccupied" type="xs:int"/>
                            <xs:element name="holidayHome" type="xs:boolean"/>
                            <xs:element name="lightConductor" type="xs:boolean"/>
                            <xs:element name="limitExcess" type="xs:boolean"/>
                            <xs:element name="otherFamily" type="xs:boolean"/>
                            <xs:element name="plot" type="xs:boolean"/>
                            <xs:element minOccurs="0" name="roofConstruction" type="xs:string"/>
                            <xs:element name="subLet" type="xs:boolean"/>
                            <xs:element name="subsidence" type="xs:boolean"/>
                            <xs:element minOccurs="0" name="typeOfDwelling" type="xs:string"/>
                            <xs:element minOccurs="0" name="wallConstruction" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="liability">
                <xs:complexContent>
                    <xs:extension base="tns:riskItem">
                        <xs:sequence>
                            <xs:element name="year" type="xs:int"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="trailer">
                <xs:complexContent>
                    <xs:extension base="tns:riskItem">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="modification" type="xs:boolean"/>
                            <xs:element name="parkingMethod" type="xs:int"/>
                            <xs:element name="trailerAge" type="xs:int"/>
                            <xs:element minOccurs="0" name="typeOfUse" type="xs:string"/>
                            <xs:element name="yearOfManufacture" type="xs:int"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="watercraft">
                <xs:complexContent>
                    <xs:extension base="tns:riskItem">
                        <xs:sequence>
                            <xs:element name="accessoryValue" type="xs:int"/>
                            <xs:element minOccurs="0" name="boatType" type="xs:string"/>
                            <xs:element name="glitter" type="xs:boolean"/>
                            <xs:element name="horsePower" type="xs:int"/>
                            <xs:element name="lengthOfHull" type="xs:int"/>
                            <xs:element name="outboardMotor" type="xs:int"/>
                            <xs:element name="outboardValue" type="xs:int"/>
                            <xs:element name="speedOfBoat" type="xs:int"/>
                            <xs:element name="surfLaunched" type="xs:boolean"/>
                            <xs:element name="totalSumInsured" type="xs:int"/>
                            <xs:element minOccurs="0" name="typeOfUse" type="xs:string"/>
                            <xs:element name="watercraftAge" type="xs:int"/>
                            <xs:element name="yearOfManufacture" type="xs:int"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="sasriaData">
                <xs:sequence>
                    <xs:element minOccurs="0" name="caravanPremium" type="xs:double"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="caravans" nillable="true"
                                type="tns:sasriaRiskItem"/>
                    <xs:element minOccurs="0" name="computerPercent" type="xs:double"/>
                    <xs:element minOccurs="0" name="computerSasria" type="xs:double"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="computers" nillable="true"
                                type="tns:sasriaRiskItem"/>
                    <xs:element minOccurs="0" name="fireDomesticSasriaPremium" type="xs:double"/>
                    <xs:element minOccurs="0" name="genRiskPercent" type="xs:double"/>
                    <xs:element minOccurs="0" name="genRiskSasria" type="xs:double"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="genRisks" nillable="true"
                                type="tns:sasriaRiskItem"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="homes" nillable="true"
                                type="tns:sasriaRiskItem"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="houses" nillable="true"
                                type="tns:sasriaRiskItem"/>
                    <xs:element minOccurs="0" name="motorPremium" type="xs:double"/>
                    <xs:element minOccurs="0" name="motorSasriaPremium" type="xs:double"/>
                    <xs:element minOccurs="0" name="motorcyclePremium" type="xs:double"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="motorcycles" nillable="true"
                                type="tns:sasriaMotorRiskItem"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="motors" nillable="true"
                                type="tns:sasriaMotorRiskItem"/>
                    <xs:element minOccurs="0" name="policyTerm" type="xs:string"/>
                    <xs:element minOccurs="0" name="response" type="tns:ratingResponse"/>
                    <xs:element minOccurs="0" name="specRiskPercent" type="xs:double"/>
                    <xs:element minOccurs="0" name="specRiskSasria" type="xs:double"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="specRisks" nillable="true"
                                type="tns:sasriaRiskItem"/>
                    <xs:element minOccurs="0" name="trailerPremium" type="xs:double"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="trailers" nillable="true"
                                type="tns:sasriaRiskItem"/>
                    <xs:element minOccurs="0" name="watercraftSasriaPremium" type="xs:double"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="watercrafts" nillable="true"
                                type="tns:sasriaRiskItem"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sasriaRiskItem">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:string"/>
                    <xs:element name="itemPercent" type="xs:double"/>
                    <xs:element name="itemSasria" type="xs:double"/>
                    <xs:element name="sumInsured" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sasriaMotorRiskItem">
                <xs:complexContent>
                    <xs:extension base="tns:sasriaRiskItem">
                        <xs:sequence>
                            <xs:element name="goods" type="xs:boolean"/>
                            <xs:element minOccurs="0" name="typeOfUse" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="buster">
                <xs:complexContent>
                    <xs:extension base="tns:riskItem">
                        <xs:sequence>
                            <xs:element name="make" type="xs:int"/>
                            <xs:element name="model" type="xs:int"/>
                            <xs:element name="vehicleValue" type="xs:int"/>
                            <xs:element name="yearOfManufacture" type="xs:int"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="motorcycle">
                <xs:complexContent>
                    <xs:extension base="tns:riskItem">
                        <xs:sequence>
                            <xs:element name="bikeAge" type="xs:int"/>
                            <xs:element minOccurs="0" name="bodyType" type="xs:string"/>
                            <xs:element name="cubicCapacity" type="xs:int"/>
                            <xs:element name="make" type="xs:int"/>
                            <xs:element name="model" type="xs:int"/>
                            <xs:element name="typeOfBike" type="xs:int"/>
                            <xs:element minOccurs="0" name="typeOfUse" type="xs:string"/>
                            <xs:element name="yearOfManufacture" type="xs:int"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="biker">
                <xs:sequence>
                    <xs:element name="areaCode" type="xs:int"/>
                    <xs:element minOccurs="0" name="dateOfBirth" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="gender" type="xs:string"/>
                    <xs:element name="levelNCB" type="xs:int"/>
                    <xs:element name="licenseAge" type="xs:int"/>
                    <xs:element minOccurs="0" name="licenseDate" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="licenseType" type="xs:string"/>
                    <xs:element name="losses0to12" type="xs:int"/>
                    <xs:element name="losses13to24" type="xs:int"/>
                    <xs:element name="losses25to36" type="xs:int"/>
                    <xs:element minOccurs="0" name="suburbID" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="calculateComputerPremium" type="tns:calculateComputerPremium"/>
            <xs:complexType name="calculateComputerPremium">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="tns:product"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="arg1" type="tns:computer"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="arg2" type="tns:policy"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="calculateComputerPremiumResponse" type="tns:calculateComputerPremiumResponse"/>
            <xs:complexType name="calculateComputerPremiumResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:ratingResponse"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="calculateMotorPremium" type="tns:calculateMotorPremium"/>
            <xs:complexType name="calculateMotorPremium">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="tns:product"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="arg1" type="tns:motor"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="arg2" type="tns:driver"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="arg3" type="tns:policy"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="calculateMotorPremiumResponse" type="tns:calculateMotorPremiumResponse"/>
            <xs:complexType name="calculateMotorPremiumResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:ratingResponse"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="calculateAddonPremium" type="tns:calculateAddonPremium"/>
            <xs:complexType name="calculateAddonPremium">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg1" type="tns:product"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="calculateAddonPremiumResponse" type="tns:calculateAddonPremiumResponse"/>
            <xs:complexType name="calculateAddonPremiumResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:ratingResponse"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="calculateAllRisksPremium" type="tns:calculateAllRisksPremium"/>
            <xs:complexType name="calculateAllRisksPremium">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="tns:product"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="arg1" type="tns:allrisks"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="arg2" type="tns:policy"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="calculateAllRisksPremiumResponse" type="tns:calculateAllRisksPremiumResponse"/>
            <xs:complexType name="calculateAllRisksPremiumResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:ratingResponse"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="calculateAddonItemPolicy" type="tns:calculateAddonItemPolicy"/>
            <xs:complexType name="calculateAddonItemPolicy">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg1" type="tns:product"/>
                    <xs:element minOccurs="0" name="arg2" type="tns:riskItem"/>
                    <xs:element minOccurs="0" name="arg3" type="tns:policy"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="calculateAddonItemPolicyResponse" type="tns:calculateAddonItemPolicyResponse"/>
            <xs:complexType name="calculateAddonItemPolicyResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:ratingResponse"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="calculatePersonalAccident" type="tns:calculatePersonalAccident"/>
            <xs:complexType name="calculatePersonalAccident">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="tns:product"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="arg1" type="tns:accident"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="arg2" type="tns:policy"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="calculatePersonalAccidentResponse" type="tns:calculatePersonalAccidentResponse"/>
            <xs:complexType name="calculatePersonalAccidentResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:ratingResponse"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="calculateHouseholderPremium" type="tns:calculateHouseholderPremium"/>
            <xs:complexType name="calculateHouseholderPremium">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="tns:product"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="arg1" type="tns:householder"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="arg2" type="tns:customer"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="arg3" type="tns:policy"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="calculateHouseholderPremiumResponse" type="tns:calculateHouseholderPremiumResponse"/>
            <xs:complexType name="calculateHouseholderPremiumResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:ratingResponse"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="calculateAddonSubsidence" type="tns:calculateAddonSubsidence"/>
            <xs:complexType name="calculateAddonSubsidence">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg1" type="tns:product"/>
                    <xs:element minOccurs="0" name="arg2" type="tns:subsidence"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="calculateAddonSubsidenceResponse" type="tns:calculateAddonSubsidenceResponse"/>
            <xs:complexType name="calculateAddonSubsidenceResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:ratingResponse"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="calculateCaravanPremium" type="tns:calculateCaravanPremium"/>
            <xs:complexType name="calculateCaravanPremium">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="tns:product"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="arg1" type="tns:caravan"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="arg2" type="tns:policy"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="calculateCaravanPremiumResponse" type="tns:calculateCaravanPremiumResponse"/>
            <xs:complexType name="calculateCaravanPremiumResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:ratingResponse"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="calculateAddonItem" type="tns:calculateAddonItem"/>
            <xs:complexType name="calculateAddonItem">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg1" type="tns:product"/>
                    <xs:element minOccurs="0" name="arg2" type="tns:riskItem"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="calculateAddonItemResponse" type="tns:calculateAddonItemResponse"/>
            <xs:complexType name="calculateAddonItemResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:ratingResponse"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="calculateHomeownerPremium" type="tns:calculateHomeownerPremium"/>
            <xs:complexType name="calculateHomeownerPremium">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="tns:product"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="arg1" type="tns:homeownerItem"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="arg2" type="tns:policy"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="calculateHomeownerPremiumResponse" type="tns:calculateHomeownerPremiumResponse"/>
            <xs:complexType name="calculateHomeownerPremiumResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:ratingResponse"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="calculatePersonalLiability" type="tns:calculatePersonalLiability"/>
            <xs:complexType name="calculatePersonalLiability">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="tns:product"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="arg1" type="tns:liability"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="arg2" type="tns:policy"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="calculatePersonalLiabilityResponse" type="tns:calculatePersonalLiabilityResponse"/>
            <xs:complexType name="calculatePersonalLiabilityResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:ratingResponse"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="calculateTrailerPremium" type="tns:calculateTrailerPremium"/>
            <xs:complexType name="calculateTrailerPremium">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="tns:product"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="arg1" type="tns:trailer"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="arg2" type="tns:policy"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="calculateTrailerPremiumResponse" type="tns:calculateTrailerPremiumResponse"/>
            <xs:complexType name="calculateTrailerPremiumResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:ratingResponse"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="calculateWatercraftPremium" type="tns:calculateWatercraftPremium"/>
            <xs:complexType name="calculateWatercraftPremium">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="tns:product"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="arg1" type="tns:watercraft"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="arg2" type="tns:policy"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="calculateWatercraftPremiumResponse" type="tns:calculateWatercraftPremiumResponse"/>
            <xs:complexType name="calculateWatercraftPremiumResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:ratingResponse"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="calculateAddonPolicy" type="tns:calculateAddonPolicy"/>
            <xs:complexType name="calculateAddonPolicy">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg1" type="tns:product"/>
                    <xs:element minOccurs="0" name="arg2" type="tns:policy"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="calculateAddonPolicyResponse" type="tns:calculateAddonPolicyResponse"/>
            <xs:complexType name="calculateAddonPolicyResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:ratingResponse"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="calculateSasria" type="tns:calculateSasria"/>
            <xs:complexType name="calculateSasria">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="tns:sasriaData"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="calculateSasriaResponse" type="tns:calculateSasriaResponse"/>
            <xs:complexType name="calculateSasriaResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:sasriaData"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="calculateAddonBusterPolicy" type="tns:calculateAddonBusterPolicy"/>
            <xs:complexType name="calculateAddonBusterPolicy">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="xs:string"/>
                    <xs:element minOccurs="0" name="arg1" type="tns:product"/>
                    <xs:element minOccurs="0" name="arg2" type="tns:buster"/>
                    <xs:element minOccurs="0" name="arg3" type="tns:policy"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="calculateAddonBusterPolicyResponse" type="tns:calculateAddonBusterPolicyResponse"/>
            <xs:complexType name="calculateAddonBusterPolicyResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:ratingResponse"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="calculateMotorcyclePremium" type="tns:calculateMotorcyclePremium"/>
            <xs:complexType name="calculateMotorcyclePremium">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="tns:product"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="arg1" type="tns:motorcycle"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="arg2" type="tns:biker"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="arg3" type="tns:policy"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="calculateMotorcyclePremiumResponse" type="tns:calculateMotorcyclePremiumResponse"/>
            <xs:complexType name="calculateMotorcyclePremiumResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:ratingResponse"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="calculatePersonalLiabilityResponse">
        <wsdl:part element="tns:calculatePersonalLiabilityResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="calculateAddonSubsidence">
        <wsdl:part element="tns:calculateAddonSubsidence" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="calculatePersonalAccidentResponse">
        <wsdl:part element="tns:calculatePersonalAccidentResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="calculateMotorcyclePremiumResponse">
        <wsdl:part element="tns:calculateMotorcyclePremiumResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="calculateAllRisksPremiumResponse">
        <wsdl:part element="tns:calculateAllRisksPremiumResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="calculateHomeownerPremiumResponse">
        <wsdl:part element="tns:calculateHomeownerPremiumResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="calculateAddonItemPolicy">
        <wsdl:part element="tns:calculateAddonItemPolicy" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="calculateAddonItemPolicyResponse">
        <wsdl:part element="tns:calculateAddonItemPolicyResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="calculateMotorPremium">
        <wsdl:part element="tns:calculateMotorPremium" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="calculateComputerPremiumResponse">
        <wsdl:part element="tns:calculateComputerPremiumResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="calculateHomeownerPremium">
        <wsdl:part element="tns:calculateHomeownerPremium" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="calculateAddonItem">
        <wsdl:part element="tns:calculateAddonItem" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="calculateAllRisksPremium">
        <wsdl:part element="tns:calculateAllRisksPremium" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="calculateAddonBusterPolicyResponse">
        <wsdl:part element="tns:calculateAddonBusterPolicyResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="calculateAddonSubsidenceResponse">
        <wsdl:part element="tns:calculateAddonSubsidenceResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="calculateSasria">
        <wsdl:part element="tns:calculateSasria" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="calculateAddonPolicy">
        <wsdl:part element="tns:calculateAddonPolicy" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="calculateWatercraftPremiumResponse">
        <wsdl:part element="tns:calculateWatercraftPremiumResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="calculateCaravanPremiumResponse">
        <wsdl:part element="tns:calculateCaravanPremiumResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="calculateAddonBusterPolicy">
        <wsdl:part element="tns:calculateAddonBusterPolicy" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="calculateSasriaResponse">
        <wsdl:part element="tns:calculateSasriaResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="calculateAddonPremiumResponse">
        <wsdl:part element="tns:calculateAddonPremiumResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="calculatePersonalAccident">
        <wsdl:part element="tns:calculatePersonalAccident" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="calculateHouseholderPremiumResponse">
        <wsdl:part element="tns:calculateHouseholderPremiumResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="calculateAddonPolicyResponse">
        <wsdl:part element="tns:calculateAddonPolicyResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="calculateTrailerPremium">
        <wsdl:part element="tns:calculateTrailerPremium" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="calculateComputerPremium">
        <wsdl:part element="tns:calculateComputerPremium" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="calculateCaravanPremium">
        <wsdl:part element="tns:calculateCaravanPremium" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="calculateTrailerPremiumResponse">
        <wsdl:part element="tns:calculateTrailerPremiumResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="calculateAddonPremium">
        <wsdl:part element="tns:calculateAddonPremium" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="calculateMotorPremiumResponse">
        <wsdl:part element="tns:calculateMotorPremiumResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="calculatePersonalLiability">
        <wsdl:part element="tns:calculatePersonalLiability" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="calculateMotorcyclePremium">
        <wsdl:part element="tns:calculateMotorcyclePremium" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="calculateWatercraftPremium">
        <wsdl:part element="tns:calculateWatercraftPremium" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="calculateHouseholderPremium">
        <wsdl:part element="tns:calculateHouseholderPremium" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="calculateAddonItemResponse">
        <wsdl:part element="tns:calculateAddonItemResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="PremiumService">
        <wsdl:operation name="calculateComputerPremium">
            <wsdl:input message="tns:calculateComputerPremium" name="calculateComputerPremium">
            </wsdl:input>
            <wsdl:output message="tns:calculateComputerPremiumResponse" name="calculateComputerPremiumResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="calculateMotorPremium">
            <wsdl:input message="tns:calculateMotorPremium" name="calculateMotorPremium">
            </wsdl:input>
            <wsdl:output message="tns:calculateMotorPremiumResponse" name="calculateMotorPremiumResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="calculateAddonPremium">
            <wsdl:input message="tns:calculateAddonPremium" name="calculateAddonPremium">
            </wsdl:input>
            <wsdl:output message="tns:calculateAddonPremiumResponse" name="calculateAddonPremiumResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="calculateAllRisksPremium">
            <wsdl:input message="tns:calculateAllRisksPremium" name="calculateAllRisksPremium">
            </wsdl:input>
            <wsdl:output message="tns:calculateAllRisksPremiumResponse" name="calculateAllRisksPremiumResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="calculateAddonItemPolicy">
            <wsdl:input message="tns:calculateAddonItemPolicy" name="calculateAddonItemPolicy">
            </wsdl:input>
            <wsdl:output message="tns:calculateAddonItemPolicyResponse" name="calculateAddonItemPolicyResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="calculatePersonalAccident">
            <wsdl:input message="tns:calculatePersonalAccident" name="calculatePersonalAccident">
            </wsdl:input>
            <wsdl:output message="tns:calculatePersonalAccidentResponse" name="calculatePersonalAccidentResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="calculateHouseholderPremium">
            <wsdl:input message="tns:calculateHouseholderPremium" name="calculateHouseholderPremium">
            </wsdl:input>
            <wsdl:output message="tns:calculateHouseholderPremiumResponse" name="calculateHouseholderPremiumResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="calculateAddonSubsidence">
            <wsdl:input message="tns:calculateAddonSubsidence" name="calculateAddonSubsidence">
            </wsdl:input>
            <wsdl:output message="tns:calculateAddonSubsidenceResponse" name="calculateAddonSubsidenceResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="calculateCaravanPremium">
            <wsdl:input message="tns:calculateCaravanPremium" name="calculateCaravanPremium">
            </wsdl:input>
            <wsdl:output message="tns:calculateCaravanPremiumResponse" name="calculateCaravanPremiumResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="calculateAddonItem">
            <wsdl:input message="tns:calculateAddonItem" name="calculateAddonItem">
            </wsdl:input>
            <wsdl:output message="tns:calculateAddonItemResponse" name="calculateAddonItemResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="calculateHomeownerPremium">
            <wsdl:input message="tns:calculateHomeownerPremium" name="calculateHomeownerPremium">
            </wsdl:input>
            <wsdl:output message="tns:calculateHomeownerPremiumResponse" name="calculateHomeownerPremiumResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="calculatePersonalLiability">
            <wsdl:input message="tns:calculatePersonalLiability" name="calculatePersonalLiability">
            </wsdl:input>
            <wsdl:output message="tns:calculatePersonalLiabilityResponse" name="calculatePersonalLiabilityResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="calculateTrailerPremium">
            <wsdl:input message="tns:calculateTrailerPremium" name="calculateTrailerPremium">
            </wsdl:input>
            <wsdl:output message="tns:calculateTrailerPremiumResponse" name="calculateTrailerPremiumResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="calculateWatercraftPremium">
            <wsdl:input message="tns:calculateWatercraftPremium" name="calculateWatercraftPremium">
            </wsdl:input>
            <wsdl:output message="tns:calculateWatercraftPremiumResponse" name="calculateWatercraftPremiumResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="calculateAddonPolicy">
            <wsdl:input message="tns:calculateAddonPolicy" name="calculateAddonPolicy">
            </wsdl:input>
            <wsdl:output message="tns:calculateAddonPolicyResponse" name="calculateAddonPolicyResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="calculateSasria">
            <wsdl:input message="tns:calculateSasria" name="calculateSasria">
            </wsdl:input>
            <wsdl:output message="tns:calculateSasriaResponse" name="calculateSasriaResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="calculateAddonBusterPolicy">
            <wsdl:input message="tns:calculateAddonBusterPolicy" name="calculateAddonBusterPolicy">
            </wsdl:input>
            <wsdl:output message="tns:calculateAddonBusterPolicyResponse" name="calculateAddonBusterPolicyResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="calculateMotorcyclePremium">
            <wsdl:input message="tns:calculateMotorcyclePremium" name="calculateMotorcyclePremium">
            </wsdl:input>
            <wsdl:output message="tns:calculateMotorcyclePremiumResponse" name="calculateMotorcyclePremiumResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PremiumServiceImplServiceSoapBinding" type="tns:PremiumService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="calculateComputerPremium">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="calculateComputerPremium">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="calculateComputerPremiumResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="calculateMotorPremium">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="calculateMotorPremium">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="calculateMotorPremiumResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="calculateAddonPremium">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="calculateAddonPremium">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="calculateAddonPremiumResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="calculateAllRisksPremium">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="calculateAllRisksPremium">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="calculateAllRisksPremiumResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="calculateAddonItemPolicy">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="calculateAddonItemPolicy">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="calculateAddonItemPolicyResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="calculatePersonalAccident">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="calculatePersonalAccident">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="calculatePersonalAccidentResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="calculateHouseholderPremium">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="calculateHouseholderPremium">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="calculateHouseholderPremiumResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="calculateAddonSubsidence">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="calculateAddonSubsidence">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="calculateAddonSubsidenceResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="calculateCaravanPremium">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="calculateCaravanPremium">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="calculateCaravanPremiumResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="calculateAddonItem">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="calculateAddonItem">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="calculateAddonItemResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="calculateHomeownerPremium">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="calculateHomeownerPremium">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="calculateHomeownerPremiumResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="calculatePersonalLiability">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="calculatePersonalLiability">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="calculatePersonalLiabilityResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="calculateTrailerPremium">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="calculateTrailerPremium">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="calculateTrailerPremiumResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="calculateAddonPolicy">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="calculateAddonPolicy">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="calculateAddonPolicyResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="calculateWatercraftPremium">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="calculateWatercraftPremium">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="calculateWatercraftPremiumResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="calculateSasria">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="calculateSasria">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="calculateSasriaResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="calculateAddonBusterPolicy">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="calculateAddonBusterPolicy">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="calculateAddonBusterPolicyResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="calculateMotorcyclePremium">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="calculateMotorcyclePremium">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="calculateMotorcyclePremiumResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PremiumServiceImplService">
        <wsdl:port binding="tns:PremiumServiceImplServiceSoapBinding" name="PremiumServiceImplPort">
            <soap:address location="http://192.168.38.20/ratews/services/com.exigen.hldsa.rate.gen.Rating"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>